.wrapper {
    max-width: 480px;
    margin: 0 auto;
    background: #fff;
    width: auto;
    position: relative;
    background: #fff;
    min-height: 100%;
    box-shadow: 0 0 20px rgb(0 0 0 / 5%);
}
a, address, article, aside, b, body, center, code, dd, del, details, div, dl, dt, em, embed, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, label, li, mark, menu, nav, object, ol, p, pre, q, s, section, small, span, strong, sub, summary, table, tbody, td, th, thead, time, tr, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
* {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -.05em;
}

user agent stylesheet
div {
    display: block;
}


.disable-user-select {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
body {
    line-height: 1;
}

html {
    font-family: "-apple-system",BlinkMacSystemFont,"Apple SD Gothic Neo",Inter,Lato,"Noto Sans KR","Spoqa Han Sans","Segoe UI",sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    word-break: keep-all;
    -webkit-text-size-adjust: none;
}
#header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block;
}
#header .container {
    margin: 0 auto;
    max-width: 480px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 48px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #fff;
}
.container {
    padding: 0 30px;
}
#header .header-left {
    display: flex;
    align-items: center;
}
#header .header-left .btn-close {
    margin-right: 5px;
}
#header .btn-close {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMEgzMlYzMkgweiIgdHJhbnNmb3JtPSJtYXRyaXgoLTEgMCAwIDEgMzIgMCkiLz4KICAgICAgICA8ZyBzdHJva2U9IiMwMDAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjUiPgogICAgICAgICAgICA8cGF0aCBkPSJNMCAwLjA5M0wxMy4zMTcgMTMuNDEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkuMSA5LjEpIi8+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0wLjU3MyAwTDEzLjg5IDEzLjMxNyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOS4xIDkuMSkgbWF0cml4KDEgMCAwIC0xIDAgMTMuMzE3KSIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==) 50% 50% no-repeat;
    width: 32px;
    height: 32px;
    display: block;
    text-indent: -999em;
    overflow: hidden;
}
button {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    background: 0 0;
    color: #000;
}
#header .header-left .page-title {
    font-size: 20px;
    font-weight: 700;
    margin-right: 2px;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-word;
}
h1, h2, h3, h4, h5, h6, p {
    word-break: break-word;
    line-height: normal;
}
#main {
    padding-bottom: 48px;
}
.section {
    box-sizing: border-box;
}
.pt-20 {
    padding-top: 20px!important;
}
.pb-20 {
    padding-bottom: 20px!important;
}
.pt-20 {
    padding-top: 20px!important;
}
.pb-20 {
    padding-bottom: 20px!important;
}
.container.gutter-sm {
    padding: 0 20px;
}
.font-14 {
    font-size: 14px!important;
}
.plain-txt {
    line-height: 1.5714285714em!important;
}
.color-red {
    color: #ff3d00!important;
}
.space-40 {
    background: 0 0;
    display: block;
    height: 40px!important;
}
hr {
    border: 0;
    margin: 0;
    padding: 0;
    background: #e8e8e8;
}
.sticky-bottom-btns {
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: auto;
    max-width: 480px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    box-sizing: border-box;
    width: 100vw;
    background: rgba(255,255,255,.7);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    display: flex;
}
.sticky-bottom-btns .btn:last-child {
    margin-right: 0;
}
.btn-lg.btn-red, .btn-md.btn-red {
    background: #ff3d00;
    border-color: #ff3d00;
    color: #fff;
}
.sticky-bottom-btns .btn {
    display: block;
    width: 100%;
    flex: 1;
    margin-right: 10px;
    font-weight: 700;
}

.btn {
    padding: 0;
    margin: 0;
    border-radius: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #000;
}
.btn-lg, .btn-md {
    line-height: 46px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 0 20px;
    position: relative;
    border: 1px solid #666;
    border-radius: 6px;
    background: #fff;
}

