* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.05em;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

#root,
body,
html {
  height: 100%;
  width: 100%;
}
body {
  line-height: 1;
}
a,
address,
article,
aside,
b,
body,
center,
code,
dd,
del,
details,
div,
dl,
dt,
em,
embed,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
label,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
s,
section,
small,
span,
strong,
sub,
summary,
table,
tbody,
td,
th,
thead,
time,
tr,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  display: block;
  margin: 8px;
}
a {
  color: #000;
  text-decoration: none;
}

.wrapper {
  max-width: 480px;
  margin: 0 auto;
  background: #fff;
  width: auto;
  position: relative;
  background: #fff;
  min-height: 100%;
  box-shadow: 0 0 20px rgb(0 0 0 / 5%);
}
#header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}
#header .container {
  margin: 0 auto;
  max-width: 480px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 48px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #fff;
}
.container {
  padding: 0 30px;
}
#header .header-left {
  display: flex;
  align-items: center;
}

#header .header-left .btn-back {
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTExLjM5MzEgMTAuMjE5N0MxMS42ODYgOS45MjY3OCAxMi4xNjA5IDkuOTI2NzggMTIuNDUzOCAxMC4yMTk3QzEyLjc0NjcgMTAuNTEyNiAxMi43NDY3IDEwLjk4NzQgMTIuNDUzOCAxMS4yODAzTDguNTM0MDkgMTUuMkgyNS4zNDY4QzI1Ljc2MSAxNS4yIDI2LjA5NjggMTUuNTM1OCAyNi4wOTY4IDE1Ljk1QzI2LjA5NjggMTYuMzY0MiAyNS43NjEgMTYuNyAyNS4zNDY4IDE2LjdIOC41ODcyM0wxMi40NTM4IDIwLjU2NjVDMTIuNzQ2NyAyMC44NTk0IDEyLjc0NjcgMjEuMzM0MyAxMi40NTM4IDIxLjYyNzJDMTIuMTYwOSAyMS45MjAxIDExLjY4NiAyMS45MjAxIDExLjM5MzEgMjEuNjI3Mkw2LjIxOTY3IDE2LjQ1MzhDNS45MjY3OCAxNi4xNjA5IDUuOTI2NzggMTUuNjg2IDYuMjE5NjcgMTUuMzkzMUwxMS4zOTMxIDEwLjIxOTdaIiBmaWxsPSJibGFjayIvPg0KPC9zdmc+DQo=")
    50% 50% no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  text-indent: -999em;
  overflow: hidden;
  margin-right: 6px;
  flex: none;
}

#header .header-left .page-title {
  font-size: 20px;
  font-weight: 700;
  margin-right: 2px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  word-break: break-word;
  line-height: normal;
}

#main {
  padding-bottom: 48px;
  display: block;
}
.pt-10 {
  padding-top: 10px !important;
}
.container.gutter-sm {
  padding: 0 20px;
}

.container {
  padding: 0 30px;
}
.mb-30 {
  margin-bottom: 30px !important;
}

.color-gray {
  color: #666 !important;
}
.font-14 {
  font-size: 14px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  word-break: break-word;
  line-height: normal;
}

.form-input {
  background: #f9f9f9;
  font-size: 14px;
  border-radius: 8px;
  display: block;
  width: 100%;
  padding: 16px;
  line-height: 21px;
}

.mb-10 {
  margin-bottom: 10px !important;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: #000;
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  font-weight: 500;
  letter-spacing: -0.05em;
}

textarea.form-input {
  resize: none;
}

.plain-txt {
  line-height: 1.5714285714em !important;
}
.color-gray {
  color: #666 !important;
}
.font-11 {
  font-size: 11px !important;
}
.plain-txt a {
  text-decoration: underline;
  color: inherit;
}

a {
  color: #000;
  text-decoration: none;
}
.mb-25 {
  margin-bottom: 25px !important;
}
.label-checkbox {
  display: flex;
  position: relative;
}

.form-checkbox {
  padding: 0;
  margin: 0;
  border: 0;
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4NCiAgICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPg0KICAgICAgICA8cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IiMwMDAiIG9wYWNpdHk9Ii4xNSIgcng9IjYiLz4NCiAgICAgICAgPHBhdGggc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMS41IiBkPSJNNSA5LjgwM0w4LjQ3NiAxMyAxNSA3Ii8+DQogICAgPC9nPg0KPC9zdmc+DQo=")
    50% 50% no-repeat;
  width: 20px;
  min-width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.label-checkbox .label.strong {
  word-break: break-all;
  color: #000;
}

.label-checkbox .label {
  display: block;
  margin-left: 8px;
  font-size: 14px;
  line-height: 20px;
}
.label-checkbox .label:after {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0);
  top: -8px px;
  left: -6px;
  right: -6px;
  bottom: -8px;
}
.bottom-btns {
  bottom: 0;
  z-index: 99;
  width: auto;
  max-width: 480px;
  padding: 20px;
  box-sizing: border-box;
  width: 100vw;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  display: flex;
}
.btn-lg.btn-red,
.btn-md.btn-red {
  background: #ff3d00;
  border-color: #ff3d00;
  color: #fff;
}
.btn.full-width {
  width: 100%;
  display: block;
}

.btn-lg,
.btn-md {
  line-height: 46px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 0 20px;
  position: relative;
  border: 1px solid #666;
  border-radius: 6px;
  background: #fff;
}
.btn {
  padding: 0;
  margin: 0;
  border-radius: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  text-decoration: none;
  box-sizing: border-box;
  color: #000;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  background: 0 0;
  color: #000;
}
button {
  border: none;
} /* 안먹혀서 추가 */
input {
  border: none;
} /* 안먹혀서 추가 */
textarea {
  border: none;
} /* 안먹혀서 추가 */
.btn-red {
  border-radius: 8px;
} /* 안먹혀서 추가 */
