* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.05em;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

#root,
body,
html {
  height: 100%;
  width: 100%;
}
body {
  line-height: 1;
}
a,
address,
article,
aside,
b,
body,
center,
code,
dd,
del,
details,
div,
dl,
dt,
em,
embed,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
label,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
s,
section,
small,
span,
strong,
sub,
summary,
table,
tbody,
td,
th,
thead,
time,
tr,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  display: block;
  margin: 8px;
}
a {
  color: #000;
  text-decoration: none;
}

#header .header-left .page-title {
  font-size: 20px;
  font-weight: 700;
  margin-right: 2px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.wrapper {
  max-width: 480px;
  margin: 0 auto;
  background: #fff;
  width: auto;
  position: relative;
  background: #fff;
  min-height: 100%;
  box-shadow: 0 0 20px rgb(0 0 0 / 5%);
}
#header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}
#header .container {
  margin: 0 auto;
  max-width: 480px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 48px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #fff;
}
.container {
  padding: 0 30px;
}
#header .header-left {
  display: flex;
  align-items: center;
}

#header .header-left .btn-back {
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTExLjM5MzEgMTAuMjE5N0MxMS42ODYgOS45MjY3OCAxMi4xNjA5IDkuOTI2NzggMTIuNDUzOCAxMC4yMTk3QzEyLjc0NjcgMTAuNTEyNiAxMi43NDY3IDEwLjk4NzQgMTIuNDUzOCAxMS4yODAzTDguNTM0MDkgMTUuMkgyNS4zNDY4QzI1Ljc2MSAxNS4yIDI2LjA5NjggMTUuNTM1OCAyNi4wOTY4IDE1Ljk1QzI2LjA5NjggMTYuMzY0MiAyNS43NjEgMTYuNyAyNS4zNDY4IDE2LjdIOC41ODcyM0wxMi40NTM4IDIwLjU2NjVDMTIuNzQ2NyAyMC44NTk0IDEyLjc0NjcgMjEuMzM0MyAxMi40NTM4IDIxLjYyNzJDMTIuMTYwOSAyMS45MjAxIDExLjY4NiAyMS45MjAxIDExLjM5MzEgMjEuNjI3Mkw2LjIxOTY3IDE2LjQ1MzhDNS45MjY3OCAxNi4xNjA5IDUuOTI2NzggMTUuNjg2IDYuMjE5NjcgMTUuMzkzMUwxMS4zOTMxIDEwLjIxOTdaIiBmaWxsPSJibGFjayIvPg0KPC9zdmc+DQo=")
    50% 50% no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  text-indent: -999em;
  overflow: hidden;
  margin-right: 6px;
  flex: none;
}
#main {
  padding-bottom: 48px;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.section {
  box-sizing: border-box;
}
.pt-10 {
  padding-top: 10px !important;
}
.container.gutter-sm {
  padding: 0 20px;
}

.container {
  padding: 0 30px;
}
.form-block .form-block-header {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.form-block .form-block-header .form-block-title {
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
}
.color-red {
  color: #ff3d00 !important;
}
.section .confirm-box .__select-textarea textarea,
.section .form-input {
  padding: 12px;
}
.form-input {
  background: #f9f9f9;
  font-size: 14px;
  border-radius: 8px;
  display: block;
  width: 100%;
  padding: 16px;
  line-height: 21px;
}
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: #000;
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  font-weight: 500;
  letter-spacing: -0.05em;
}

.form-block .form-block-body .textarea-count {
  display: block;
  text-align: right;
  margin-top: 10px;
  font-size: 11px;
  color: #aaa;
  font-weight: 500;
}
.form-block .form-block-body .textarea-count .current {
  color: #666;
}
.form-block .form-block-header .form-block-title {
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
}
.section .confirm-box .__select-textarea textarea,
.section .form-input {
  padding: 12px;
}
textarea.form-input {
  resize: none;
}

.form-block .form-block-body .textarea-count {
  display: block;
  text-align: right;
  margin-top: 10px;
  font-size: 11px;
  color: #aaa;
  font-weight: 500;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.form-block .form-block-header.form-option-header {
  margin: 0 -20px;
  padding: 16px 20px;
  border-top: 1px solid #f9f9f9;
  border-bottom: 1px solid #f9f9f9;
}
.__ml-auto {
  margin-left: auto !important;
}
.switch {
  position: relative;
  display: block;
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.switch .gadget {
  width: 48px;
  height: 24px;
  border: 1px px solid #f1f1f1;
  display: block;
  border-radius: 6px;
  box-sizing: border-box;
}
.switch input:checked + .gadget:after {
  background: #ff3d00;
  left: 28px;
}
.switch .gadget:after {
  width: 16px;
  height: 16px;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 7%);
  background-color: #d0d0d0;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  transition: left 0.1s ease;
  will-change: left;
}
.space-40 {
  background: 0 0;
  display: block;
  height: 40px px !important;
}

.sticky-bottom-btns {
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: auto;
  max-width: 480px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  box-sizing: border-box;
  width: 100vw;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  display: flex;
}
.sticky-bottom-btns .btn:last-child {
  margin-right: 0;
}
.sticky-bottom-btns .btn {
  display: block;
  width: 100%;
  flex: 1;
  margin-right: 10px;
  font-weight: 700;
}

.btn-lg.btn-red,
.btn-md.btn-red {
  background: #ff3d00;
  border-color: #ff3d00;
  color: #fff;
}
.btn-lg,
.btn-md {
  line-height: 46px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 0 20px;
  position: relative;
  border: 1px solid #666;
  border-radius: 6px;
  background: #fff;
}
.btn {
  padding: 0;
  margin: 0;
  border-radius: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  text-decoration: none;
  box-sizing: border-box;
  color: #000;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  background: 0 0;
  color: #000;
}
hr {
  border: none;
  margin: 0;
  padding: 0;
  background: #e8e8e8;
}

/* 추가 */
button {
  border: none;
}

textarea {
  border: none;
}

input {
  border: none;
}

.btn-red {
  border-radius: 8px;
  margin: 0 auto;
}
