* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.05em;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

#root,
body,
html {
  height: 100%;
  width: 100%;
}
body {
  line-height: 1;
}
a,
address,
article,
aside,
b,
body,
center,
code,
dd,
del,
details,
div,
dl,
dt,
em,
embed,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
label,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
s,
section,
small,
span,
strong,
sub,
summary,
table,
tbody,
td,
th,
thead,
time,
tr,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  display: block;
  margin: 8px;
}
a {
  color: #000;
  text-decoration: none;
}

.wrapper {
  max-width: 480px;
  margin: 0 auto;
  background: #fff;
  width: auto;
  position: relative;
  background: #fff;
  min-height: 100%;
  box-shadow: 0 0 20px rgb(0 0 0 / 5%);
}
#header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}
#header .container {
  margin: 0 auto;
  max-width: 480px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 48px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #fff;
}
.container {
  padding: 0 30px;
}
#header .header-left {
  display: flex;
  align-items: center;
}

#header .header-left .btn-close {
  background: url("../image/닫기.svg") 50% 50% no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  text-indent: -999em;
  overflow: hidden;
  margin-right: 6px;
  flex: none;
}

#main {
  padding-bottom: 48px;
}
.pt-10 {
  padding-top: 10px !important;
}
.container.gutter-sm {
  padding: 0 20px;
}
.container {
  padding: 0 30px;
}
.board-detail .board-detail-header {
  margin-bottom: 30px;
}
.board-detail .board-detail-header .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}

.board-detail .board-detail-header .date {
  font-size: 11px;
  display: block;
  color: #666;
}
.board-detail .board-detail-body p {
  line-height: 1.425;
  color: #666;
  margin-bottom: 1.5em;
}

.display-linebreak {
  white-space: pre-line;
}
.sticky-bottom-btns {
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: auto;
  max-width: 480px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  box-sizing: border-box;
  width: 100vw;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  display: flex;
}
.sticky-bottom-btns .btn:last-child {
  margin-right: 0;
}
.sticky-bottom-btns .btn {
  display: block;
  width: 100%;
  flex: 1;
  margin-right: 10px;
  font-weight: 700;
}

.btn-lg.btn-red,
.btn-md.btn-red {
  background: #ff3d00;
  border-color: #ff3d00;
  color: #fff;
  border-radius: 8px;
}
.btn-lg,
.btn-md {
  line-height: 46px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 0 20px;
  position: relative;
  border: 1px solid #666;
  border-radius: 6px;
  background: #fff;
}
.btn {
  padding: 0;
  margin: 0;
  border-radius: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  text-decoration: none;
  box-sizing: border-box;
  color: #000;
}

/* 추가적용 */
button {
  border: none;
}
