#root,
body,
html {
  height: 100%;
  width: 100%;
}
body {
  line-height: 1;
}
a,
address,
article,
aside,
b,
body,
center,
code,
dd,
del,
details,
div,
dl,
dt,
em,
embed,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
label,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
s,
section,
small,
span,
strong,
sub,
summary,
table,
tbody,
td,
th,
thead,
time,
tr,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  display: block;
  margin: 8px;
}
a {
  color: #000;
  text-decoration: none;
}

.wrapper {
  max-width: 480px;
  margin: 0 auto;
  background: #fff;
  width: auto;
  position: relative;
  background: #fff;
  min-height: 100%;
  box-shadow: 0 0 20px rgb(0 0 0 / 5%);
}
#header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}
#header .container {
  margin: 0 auto;
  max-width: 480px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 48px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #fff;
}
.container {
  padding: 0 30px;
}
#header .header-left {
  display: flex;
  align-items: center;
}

#header .header-left .btn-close {
  background: url("../image/닫기.svg") 50% 50% no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  text-indent: -999em;
  overflow: hidden;
  margin-right: 6px;
  flex: none;
}
#main {
  padding-bottom: 48px;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.board-list-item {
  display: flex;
  padding: 15px 20px;
  align-items: center;
}

a {
  color: #000;
}
a {
  color: #000;
  text-decoration: none;
}

.board-list-item:after {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4NCiAgICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPg0KICAgICAgICA8cGF0aCBkPSJNMCAwSDE2VjE2SDB6Ii8+DQogICAgICAgIDxwYXRoIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuMiIgZD0iTTYuNSA0LjNMMTAuMTczIDcuOTczIDYuNSAxMS42NDciLz4NCiAgICA8L2c+DQo8L3N2Zz4NCg==")
    50% 50% no-repeat;
  min-width: 16px;
  width: 16px;
  height: 16px;
  display: block;
  content: "";
  margin-left: auto;
}
.board-list-item .txt .title {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 17px;
  font-size: 16px;
  font-weight: 500;
}

button {
  border: none;
}
.sticky-bottom-btns .btn:last-child {
  margin-right: 0;
}
.sticky-bottom-btns .btn {
  display: block;
  width: 100%;
  flex: 1;
  margin-right: 10px;
  font-weight: 700;
}
.btn-lg.btn-red,
.btn-md.btn-red {
  background: #ff3d00;
  border-color: #ff3d00;
  color: #fff;
}
.btn-lg,
.btn-md {
  line-height: 46px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 0 20px;
  position: relative;
  border: 1px solid #666;
  border-radius: 6px;
  background: #fff;
}
.sticky-bottom-btns {
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: auto;
  max-width: 480px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  box-sizing: border-box;
  width: 100vw;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  display: flex;
}
#header .header-left .page-title {
  font-size: 20px;
  font-weight: 700;
  margin-right: 2px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: #000;
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  font-weight: 500;
  letter-spacing: -0.05em;
}

.board-detail .board-detail-body p {
  line-height: 1.425;
  color: #666;
  margin-bottom: 1.5em;
}
.board-detail .board-detail-body h5 {
  margin-bottom: 0.4em;
  font-size: 16px;
  font-weight: 500;
}
#header .header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  flex: none;
}
