html {
    font-family: "-apple-system",BlinkMacSystemFont,"Apple SD Gothic Neo",Inter,Lato,"Noto Sans KR","Spoqa Han Sans","Segoe UI",sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    word-break: keep-all;
    -webkit-text-size-adjust: none;
}
body {
    line-height: 1;
}
.disable-user-select {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
div {
    display: block;
}
user agent stylesheet

* {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -.05em;
}
a, address, article, aside, b, body, center, code, dd, del, details, div, dl, dt, em, embed, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, label, li, mark, menu, nav, object, ol, p, pre, q, s, section, small, span, strong, sub, summary, table, tbody, td, th, thead, time, tr, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.wrapper {
    max-width: 480px;
    margin: 0 auto;
    background: #fff;
    width: auto;
    position: relative;
    background: #fff;
    min-height: 100%;
    box-shadow: 0 0 20px rgb(0 0 0 / 5%);
}
#header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block;
}
#header .container {
    margin: 0 auto;
    max-width: 480px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 48px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #fff;
}
.container {
    padding: 0 30px;
}
#header .header-left {
    display: flex;
    align-items: center;
}
#header .header-left .btn-back {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTEuMzkzMSAxMC4yMTk3QzExLjY4NiA5LjkyNjc4IDEyLjE2MDkgOS45MjY3OCAxMi40NTM4IDEwLjIxOTdDMTIuNzQ2NyAxMC41MTI2IDEyLjc0NjcgMTAuOTg3NCAxMi40NTM4IDExLjI4MDNMOC41MzQwOSAxNS4ySDI1LjM0NjhDMjUuNzYxIDE1LjIgMjYuMDk2OCAxNS41MzU4IDI2LjA5NjggMTUuOTVDMjYuMDk2OCAxNi4zNjQyIDI1Ljc2MSAxNi43IDI1LjM0NjggMTYuN0g4LjU4NzIzTDEyLjQ1MzggMjAuNTY2NUMxMi43NDY3IDIwLjg1OTQgMTIuNzQ2NyAyMS4zMzQzIDEyLjQ1MzggMjEuNjI3MkMxMi4xNjA5IDIxLjkyMDEgMTEuNjg2IDIxLjkyMDEgMTEuMzkzMSAyMS42MjcyTDYuMjE5NjcgMTYuNDUzOEM1LjkyNjc4IDE2LjE2MDkgNS45MjY3OCAxNS42ODYgNi4yMTk2NyAxNS4zOTMxTDExLjM5MzEgMTAuMjE5N1oiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo=) 50% 50% no-repeat;
    width: 32px;
    height: 32px;
    display: block;
    text-indent: -999em;
    overflow: hidden;
    margin-right: 6px;
    flex: none;
}
a {
    color: #000;
}
a {
    color: #000;
    text-decoration: none;
}
#header .header-left .page-title {
    font-size: 20px;
    font-weight: 700;
    margin-right: 2px;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-word;
}
h1, h2, h3, h4, h5, h6, p {
    word-break: break-word;
    line-height: normal;
}

/* 메인 */
#main {
    padding-bottom: 48px;
}
#header.opaque+#main .tab-menu.sticky {
    top: 48px;
}
.tab-menu.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
}
.tab-menu {
    border-bottom: 2px solid #f1f1f1;
    background: #fff;
}
.tab-menu ul {
    display: flex;
}
ol, ul {
    list-style: none;
}
.tab-menu ul li {
    flex: 1;
}
.tab-menu ul li a {
    padding: 16px 4px;
    text-align: center;
    font-size: 15px;
    color: #666;
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.tab-menu ul li a span {
    position: relative;
}
.tab-menu ul li.active a {
    color: #000;
    font-weight: 700;
}
.tab-menu ul li.active a:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 2px;
    background: #000;
}
/* 사진 쎾쎤 */
.section {
    box-sizing: border-box;
}
.gallery-tbs {
    overflow: hidden;
}
.gallery-tb-list {
    margin: -1.5px;
    display: flex;
    flex-wrap: wrap;
}
.gallery-tb-list .gallery-tb-item {
    padding: 1.5px;
    box-sizing: border-box;
    flex: 0 1 33.3333333%;
}
.gallery-tb-item a {
    display: block;
    background: 50% 50% no-repeat;
    background-size: cover;
    position: relative;
}
.gallery-tb-item a .guide-img {
    display: block;
    width: 100%;
}







