
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -.05em;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}
#root{
    height: 100%;
    width: 100%;
}
body {
    line-height: 1;
}
#root, body, html {
    height: 100%;
    width: 100%;
}

html {
    font-family: "-apple-system",BlinkMacSystemFont,"Apple SD Gothic Neo",Inter,Lato,"Noto Sans KR","Spoqa Han Sans","Segoe UI",sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    word-break: keep-all;
    -webkit-text-size-adjust: none;
}
html {
    background: #fff;
}
html {
    display: block;
}
#header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
}
#header .container {
    margin: 0 auto;
    max-width: 480px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 48px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #fff;
}
#header .header-left .page-title {
    font-size: 20px;
    font-weight: 700;
    margin-right: 2px;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-word;
}
a, address, article, aside, b, body, center, code, dd, del, details, div, dl, dt, em, embed, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, label, li, mark, menu, nav, object, ol, p, pre, q, s, section, small, span, strong, sub, summary, table, tbody, td, th, thead, time, tr, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
a {
    color: #000;
    text-decoration: none;
}
div {
    display: block;
}
#main {
    padding-bottom: 48px;
}
.wrapper {
    max-width: 480px;
    margin: 0 auto;
    background: #fff;
    width: auto;
    position: relative;
    background: #fff;
    min-height: 100%;
    box-shadow: 0 0 20px rgb(0 0 0 / 5%);
}


/* 탭 메뉴 */
#header.opaque+#main .tab-menu.sticky {
    top: 48px;
}
.tab-menu.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
}
.tab-menu {
    border-bottom: 2px solid #f1f1f1;
    background: #fff;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ol, ul {
    list-style: none;
}
.tab-menu ul {
    display: flex;
}
.tab-menu ul li.active a:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 2px;
    background: #000;
}
.tab-menu ul li.active a {
    color: #000;
    font-weight: 700;
}

.tab-menu ul li a span {
    position: relative;
}

.tab-menu ul li {
    flex: 1;
}

.tab-menu ul li a {
    padding: 16px 4px;
    text-align: center;
    font-size: 15px;
    color: #666;
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.container {
    padding: 0 30px;
}

/* 하단 그거 */
#dock {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

#dock .dock-container {
    position: relative;
    margin: 0 auto;
    max-width: 480px;
    background: #fff;
    border-top: 1px solid #f9f9f9;
}