/* 사전작업 */
body {
    line-height: 1;
}
.jss7 {
    background-color: rgba(0,0,0,0);
}
html {
    font-family: "-apple-system",BlinkMacSystemFont,"Apple SD Gothic Neo",Inter,Lato,"Noto Sans KR","Spoqa Han Sans","Segoe UI",sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    word-break: keep-all;
    -webkit-text-size-adjust: none;
}
.MuiDrawer-paperAnchorBottom {
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    max-height: 100%;
}
.MuiDrawer-paper {
    top: 0;
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    outline: 0;
    z-index: 1200;
    position: fixed;
    overflow-y: auto;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
}
.MuiPaper-elevation0 {
    box-shadow: none;
}
.MuiPaper-root {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}
a, address, article, aside, b, body, center, code, dd, del, details, div, dl, dt, em, embed, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, label, li, mark, menu, nav, object, ol, p, pre, q, s, section, small, span, strong, sub, summary, table, tbody, td, th, thead, time, tr, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -.05em;
}
* {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}
.disable-user-select {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.drawer-box {
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
    position: relative;
}
.drawer-box .drawer-box-body {
    padding: 20px;
}
.seat-options {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px -40px;
    padding-top: 20px;
}
.seat-options .seat-option-item {
    flex: 0 1 25%;
    margin-bottom: 40px;
    box-sizing: border-box;
}
.seat-option-item label {
    text-align: center;
    display: block;
    position: relative;
}
.seat-option-item label input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    color: #000;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 0;
    border-radius: 0;
    font-weight: 500;
    letter-spacing: -.05em;
}
.seat-option-item label input:checked+span {
    color: #ff3d00;
}
.seat-option-item label span {
    display: block;
}
.seat-option-item label svg {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
}
.seat-option-item label input:checked+span svg .line {
    fill: #ff3d00;
}
.seat-option-item label svg .line {
    fill: #272727;
}
.seat-option-item label .label {
    display: block;
    font-size: 14px;
    font-weight: 500;
}
.drawer-box .drawer-box-footer {
    padding: 20px;
}
.drawer-box .drawer-box-footer .btn-group {
    display: flex;
    margin: 0 -5px;
}
.drawer-box .drawer-box-footer .btn-group .btn {
    flex: 1;
    margin: 0 5px;
    width: auto;
    font-weight: 700;
}
.drawer-box .drawer-box-footer .btn:last-child {
    margin-bottom: 0;
}

.drawer-box .drawer-box-footer .btn {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}
.btn-lg.btn-outline, .btn-md.btn-outline {
    border-color: #d5d5d5;
}
.btn {
    padding: 0;
    margin: 0;
    border-radius: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #000;
}
.btn-lg, .btn-md {
    line-height: 46px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 0 20px;
    position: relative;
    border: 1px solid #666;
    border-radius: 6px;
    background: #fff;
}
