<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/plus_collection.css" />
  </head>
  <body class="disable-user-select">
    <div>
      <span itemscope itemtype="http://schema.org/Organization"></span>
    </div>
    <div style="display: none">
      <a href="#">레스토랑 예약</a>
      <a href="#">티켓 할인</a>
      <a href="#">신규 오픈</a>
    </div>
    <div id="root">
      <div class="wrapper">
        <header id="header" class="opaque">
          <div
            class="container"
            style="border-bottom: 1px solid rgb(238, 238, 238)"
          >
            <div class="header-left">
              <a href="#" class="btn-back">뒤로</a>
            </div>
            <form class="keyword-search">
              <input
                type="text"
                placeholder="레스토랑명, 메모검색"
                required
                value
                style="font-size: 13px"
              />
              <button class="btn-delete" type="reset">초기</button>
            </form>
          </div>
        </header>
        <main id="main" class="pb-0 __d-flex f-d-column flex-grow">
          <section class="section flex-grow __d-flex f-d-column">
            <div style="justify-content: flex-end"></div>
            <div
              class="container gutter-sm flex-grow __d-flex __h-center pb-20 pt-20"
              style="align-items: flex-start; padding-bottom: 100px"
            >
              <div class="section-header">
                <h3 class="section-title">
                  <span class="count"></span>
                </h3>
                <a href="#" class="btn-sort">최근 등록된 순</a>
              </div>
              <div class="section-body" style="width: 100%">
                <div id="addRestaurantCollectionScroll">
                  <div id="addRestaurantCollectionScroll_0" data-dummy="106">
                    <div class="saved-restaurant-list-item">
                      <input
                        type="checkbox"
                        class="form-checkbox"
                        id="idCheck_0"
                        value="#"
                      />
                      <label for="idCheck_0" class="restaurant-info">
                        <div class="tb">
                          <div
                            class="img"
                            style="
                              background-image: url('https://image.toast.com/aaaaaqx/catchtable/shopinfo/s23504/23504_2212218105234697_thumbMenuImage.jpg');
                            "
                          ></div>
                        </div>
                        <div class="detail">
                          <h4 class="name">스시대옥</h4>
                          <p class="excerpt">
                            가성비 최강 당일 선발된 재료로 정성을 다하는 스시
                          </p>
                          <div class="restaurant-meta">
                            <div class="rating mb-5">
                              <span class="star">4.8</span>
                              <span class="count">(448)</span>
                            </div>
                            <span class="tags">
                              <span class="tag">스시오마카세</span>
                              <span class="split">•</span>
                              <span class="tag">울산</span>
                            </span>
                            <span class="price">점심 4만원 저녁 6.6만원</span>
                          </div>
                        </div>
                      </label>
                      <div class="comment">
                        <p>맛있겠다</p>
                      </div>
                    </div>
                  </div>
                  <div id="addRestaurantCollectionScroll_1" data-dummy="106">
                    <div class="saved-restaurant-list-item">
                      <input
                        type="checkbox"
                        class="form-checkbox"
                        id="idCheck_0"
                        value="#"
                      />
                      <label for="idCheck_0" class="restaurant-info">
                        <div class="tb">
                          <div
                            class="img"
                            style="
                              background-image: url('https://image.toast.com/aaaaaqx/catchtable/shopinfo/s23504/23504_2212218105234697_thumbMenuImage.jpg');
                            "
                          ></div>
                        </div>
                        <div class="detail">
                          <h4 class="name">스시대옥</h4>
                          <p class="excerpt">
                            가성비 최강 당일 선발된 재료로 정성을 다하는 스시
                          </p>
                          <div class="restaurant-meta">
                            <div class="rating mb-5">
                              <span class="star">4.8</span>
                              <span class="count">(448)</span>
                            </div>
                            <span class="tags">
                              <span class="tag">스시오마카세</span>
                              <span class="split">•</span>
                              <span class="tag">울산</span>
                            </span>
                            <span class="price">점심 4만원 저녁 6.6만원</span>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div id="addRestaurantCollectionScroll_2" data-dummy="106">
                    <div class="saved-restaurant-list-item">
                      <input
                        type="checkbox"
                        class="form-checkbox"
                        id="idCheck_0"
                        value="#"
                      />
                      <label for="idCheck_0" class="restaurant-info">
                        <div class="tb">
                          <div
                            class="img"
                            style="
                              background-image: url('https://image.toast.com/aaaaaqx/catchtable/shopinfo/s23504/23504_2212218105234697_thumbMenuImage.jpg');
                            "
                          ></div>
                        </div>
                        <div class="detail">
                          <h4 class="name">스시대옥</h4>
                          <p class="excerpt">
                            가성비 최강 당일 선발된 재료로 정성을 다하는 스시
                          </p>
                          <div class="restaurant-meta">
                            <div class="rating mb-5">
                              <span class="star">4.8</span>
                              <span class="count">(448)</span>
                            </div>
                            <span class="tags">
                              <span class="tag">스시오마카세</span>
                              <span class="split">•</span>
                              <span class="tag">울산</span>
                            </span>
                            <span class="price">점심 4만원 저녁 6.6만원</span>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div id="addRestaurantCollectionScroll_3" data-dummy="106">
                    <div class="saved-restaurant-list-item">
                      <input
                        type="checkbox"
                        class="form-checkbox"
                        id="idCheck_0"
                        value="#"
                      />
                      <label for="idCheck_0" class="restaurant-info">
                        <div class="tb">
                          <div
                            class="img"
                            style="
                              background-image: url('https://image.toast.com/aaaaaqx/catchtable/shopinfo/s23504/23504_2212218105234697_thumbMenuImage.jpg');
                            "
                          ></div>
                        </div>
                        <div class="detail">
                          <h4 class="name">스시대옥</h4>
                          <p class="excerpt">
                            가성비 최강 당일 선발된 재료로 정성을 다하는 스시
                          </p>
                          <div class="restaurant-meta">
                            <div class="rating mb-5">
                              <span class="star">4.8</span>
                              <span class="count">(448)</span>
                            </div>
                            <span class="tags">
                              <span class="tag">스시오마카세</span>
                              <span class="split">•</span>
                              <span class="tag">울산</span>
                            </span>
                            <span class="price">점심 4만원 저녁 6.6만원</span>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div id="addRestaurantCollectionScroll_4" data-dummy="106">
                    <div class="saved-restaurant-list-item">
                      <input
                        type="checkbox"
                        class="form-checkbox"
                        id="idCheck_0"
                        value="#"
                      />
                      <label for="idCheck_0" class="restaurant-info">
                        <div class="tb">
                          <div
                            class="img"
                            style="
                              background-image: url('https://image.toast.com/aaaaaqx/catchtable/shopinfo/s23504/23504_2212218105234697_thumbMenuImage.jpg');
                            "
                          ></div>
                        </div>
                        <div class="detail">
                          <h4 class="name">스시대옥</h4>
                          <p class="excerpt">
                            가성비 최강 당일 선발된 재료로 정성을 다하는 스시
                          </p>
                          <div class="restaurant-meta">
                            <div class="rating mb-5">
                              <span class="star">4.8</span>
                              <span class="count">(448)</span>
                            </div>
                            <span class="tags">
                              <span class="tag">스시오마카세</span>
                              <span class="split">•</span>
                              <span class="tag">울산</span>
                            </span>
                            <span class="price">점심 4만원 저녁 6.6만원</span>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div id="addRestaurantCollectionScroll_5" data-dummy="106">
                    <div class="saved-restaurant-list-item">
                      <input
                        type="checkbox"
                        class="form-checkbox"
                        id="idCheck_0"
                        value="#"
                      />
                      <label for="idCheck_0" class="restaurant-info">
                        <div class="tb">
                          <div
                            class="img"
                            style="
                              background-image: url('https://image.toast.com/aaaaaqx/catchtable/shopinfo/s23504/23504_2212218105234697_thumbMenuImage.jpg');
                            "
                          ></div>
                        </div>
                        <div class="detail">
                          <h4 class="name">스시대옥</h4>
                          <p class="excerpt">
                            가성비 최강 당일 선발된 재료로 정성을 다하는 스시
                          </p>
                          <div class="restaurant-meta">
                            <div class="rating mb-5">
                              <span class="star">4.8</span>
                              <span class="count">(448)</span>
                            </div>
                            <span class="tags">
                              <span class="tag">스시오마카세</span>
                              <span class="split">•</span>
                              <span class="tag">울산</span>
                            </span>
                            <span class="price">점심 4만원 저녁 6.6만원</span>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div id="addRestaurantCollectionScroll_6" data-dummy="106">
                    <div class="saved-restaurant-list-item">
                      <input
                        type="checkbox"
                        class="form-checkbox"
                        id="idCheck_0"
                        value="#"
                      />
                      <label for="idCheck_0" class="restaurant-info">
                        <div class="tb">
                          <div
                            class="img"
                            style="
                              background-image: url('https://image.toast.com/aaaaaqx/catchtable/shopinfo/s23504/23504_2212218105234697_thumbMenuImage.jpg');
                            "
                          ></div>
                        </div>
                        <div class="detail">
                          <h4 class="name">스시대옥</h4>
                          <p class="excerpt">
                            가성비 최강 당일 선발된 재료로 정성을 다하는 스시
                          </p>
                          <div class="restaurant-meta">
                            <div class="rating mb-5">
                              <span class="star">4.8</span>
                              <span class="count">(448)</span>
                            </div>
                            <span class="tags">
                              <span class="tag">스시오마카세</span>
                              <span class="split">•</span>
                              <span class="tag">울산</span>
                            </span>
                            <span class="price">점심 4만원 저녁 6.6만원</span>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div id="addRestaurantCollectionScroll_7" data-dummy="106">
                    <div class="saved-restaurant-list-item">
                      <input
                        type="checkbox"
                        class="form-checkbox"
                        id="idCheck_0"
                        value="#"
                      />
                      <label for="idCheck_0" class="restaurant-info">
                        <div class="tb">
                          <div
                            class="img"
                            style="
                              background-image: url('https://image.toast.com/aaaaaqx/catchtable/shopinfo/s23504/23504_2212218105234697_thumbMenuImage.jpg');
                            "
                          ></div>
                        </div>
                        <div class="detail">
                          <h4 class="name">스시대옥</h4>
                          <p class="excerpt">
                            가성비 최강 당일 선발된 재료로 정성을 다하는 스시
                          </p>
                          <div class="restaurant-meta">
                            <div class="rating mb-5">
                              <span class="star">4.8</span>
                              <span class="count">(448)</span>
                            </div>
                            <span class="tags">
                              <span class="tag">스시오마카세</span>
                              <span class="split">•</span>
                              <span class="tag">울산</span>
                            </span>
                            <span class="price">점심 4만원 저녁 6.6만원</span>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div id="addRestaurantCollectionScroll_8" data-dummy="106">
                    <div class="saved-restaurant-list-item">
                      <input
                        type="checkbox"
                        class="form-checkbox"
                        id="idCheck_0"
                        value="#"
                      />
                      <label for="idCheck_0" class="restaurant-info">
                        <div class="tb">
                          <div
                            class="img"
                            style="
                              background-image: url('https://image.toast.com/aaaaaqx/catchtable/shopinfo/s23504/23504_2212218105234697_thumbMenuImage.jpg');
                            "
                          ></div>
                        </div>
                        <div class="detail">
                          <h4 class="name">스시대옥</h4>
                          <p class="excerpt">
                            가성비 최강 당일 선발된 재료로 정성을 다하는 스시
                          </p>
                          <div class="restaurant-meta">
                            <div class="rating mb-5">
                              <span class="star">4.8</span>
                              <span class="count">(448)</span>
                            </div>
                            <span class="tags">
                              <span class="tag">스시오마카세</span>
                              <span class="split">•</span>
                              <span class="tag">울산</span>
                            </span>
                            <span class="price">점심 4만원 저녁 6.6만원</span>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div id="addRestaurantCollectionScroll_9" data-dummy="106">
                    <div class="saved-restaurant-list-item">
                      <input
                        type="checkbox"
                        class="form-checkbox"
                        id="idCheck_0"
                        value="#"
                      />
                      <label for="idCheck_0" class="restaurant-info">
                        <div class="tb">
                          <div
                            class="img"
                            style="
                              background-image: url('https://image.toast.com/aaaaaqx/catchtable/shopinfo/s23504/23504_2212218105234697_thumbMenuImage.jpg');
                            "
                          ></div>
                        </div>
                        <div class="detail">
                          <h4 class="name">스시대옥</h4>
                          <p class="excerpt">
                            가성비 최강 당일 선발된 재료로 정성을 다하는 스시
                          </p>
                          <div class="restaurant-meta">
                            <div class="rating mb-5">
                              <span class="star">4.8</span>
                              <span class="count">(448)</span>
                            </div>
                            <span class="tags">
                              <span class="tag">스시오마카세</span>
                              <span class="split">•</span>
                              <span class="tag">울산</span>
                            </span>
                            <span class="price">점심 4만원 저녁 6.6만원</span>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </main>
        <div class="sticky-bottom-btns">
          <button class="btn btn-lg btn-red">10개 선택</button>
        </div>
      </div>
    </div>
  </body>
</html>
