<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/collection_list.css" />
  </head>
  <body class="disable-user-select">
    <div>
      <span itemscope itemtype="http://schema.org/Organization"></span>
    </div>
    <div style="display: none">
      <a href="#">레스토랑 예약</a>
      <a href="#">티켓 할인</a>
      <a href="#">신규 오픈</a>
    </div>
    <div id="root">
      <div class="wrapper __d-flex f-d-column" style="height: 100%">
        <header id="header" class="opaque">
          <div class="container">
            <div class="header-left">
              <button class="btn-back">이전</button>
              <h1 class="page-title">컬렉션</h1>
            </div>
          </div>
        </header>
        <main id="main" class="__d-flex" style="height: auto">
          <section class="section pt-24 __d-flex f-d-column flex-grow">
            <div
              class="collection-wrap container gutter-sm __d-flex flex-grow f-d-column"
            >
              <button class="btn btn-lg btn-outline full-width mb-8">
                <span class="add">새 컬렉션 만들기</span>
              </button>
              <div
                class="section-header collection-list-header __d-flex __v-center"
              >
                <h3 class="section-title font-16">
                  내가 만든 컬렉션 <span class="count">1</span>
                </h3>
                <div class="__search-result-header">
                  <div class="__sort">
                    <i>
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1.5 3.75C1.5 3.33579 1.83579 3 2.25 3L14.25 3C14.6642 3 15 3.33579 15 3.75C15 4.16421 14.6642 4.5 14.25 4.5L2.25 4.5C1.83579 4.5 1.5 4.16421 1.5 3.75Z"
                          fill="black"
                        ></path>
                        <path
                          d="M1.5 8.625C1.5 8.21079 1.83579 7.875 2.25 7.875L8.25 7.875C8.66421 7.875 9 8.21079 9 8.625C9 9.03921 8.66421 9.375 8.25 9.375L2.25 9.375C1.83579 9.375 1.5 9.03921 1.5 8.625Z"
                          fill="black"
                        ></path>
                        <path
                          d="M1.5 13.5C1.5 13.0858 1.83579 12.75 2.25 12.75L8.25 12.75C8.66421 12.75 9 13.0858 9 13.5C9 13.9142 8.66421 14.25 8.25 14.25L2.25 14.25C1.83579 14.25 1.5 13.9142 1.5 13.5Z"
                          fill="black"
                        ></path>
                        <path
                          d="M13.75 14C13.3358 14 13 13.6642 13 13.25L13 6.75C13 6.33579 13.3358 6 13.75 6C14.1642 6 14.5 6.33579 14.5 6.75L14.5 13.25C14.5 13.6642 14.1642 14 13.75 14Z"
                          fill="black"
                        ></path>
                        <path
                          d="M10.75 11L13.7345 14L16.75 11"
                          stroke="black"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          fill="black"
                        ></path>
                      </svg>
                    </i>
                    <span class="__label">최신순</span>
                    <i
                      ><svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M4.94 6L8 9.05333L11.06 6L12 6.94L8 10.94L4 6.94L4.94 6Z"
                          fill="black"
                        ></path></svg
                    ></i>
                  </div>
                </div>
              </div>
              <div class="__mypage-collection-list">
                <div class="collection-list-item-sm">
                  <div class="collection-slides-sm" style="display: block">
                    <div class="collection-list-item-sm">
                      <a>
                        <div class="collection-list-item-in">
                          <div class="imgs">
                            <div
                              class="img"
                              style="
                                background-image: url('https://image.toast.com/aaaaaqx/catchtable/shopinfo/s20676/20676_2161013243969631_thumbMenuImage.jpg');
                              "
                            ></div>
                          </div>
                          <div class="__meta">
                            <h4 class="__title">
                              <strong>나</strong>의 컬렉션
                            </h4>
                            <div class="__count">
                              <button
                                class="bookmark-button on"
                                type="button"
                              ></button>
                              0
                            </div>
                          </div>
                        </div>
                        <div class="collection__meta">
                          <h4 class="__title private">
                            <!-- <div class="wrapper1">
                                  <input type="checkbox" id="switch" />
                                  <label for="switch" class="switch_label">
                                    <span class="onf_btn"></span>
                                  </label>
                                </div> -->
                            스시오마카세!
                          </h4>
                          <div class="__count">10</div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="collection-wrap container gutter-sm __d-flex flex-grow f-d-column"
            >
              <div
                class="section-header collection-list-header __d-flex __v-center"
              >
                <h3 class="section-title font-16">
                  저장한 컬렉션 <span class="count">0</span>
                </h3>
                <div class="__search-result-header">
                  <div class="sort">
                    <i>
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1.5 3.75C1.5 3.33579 1.83579 3 2.25 3L14.25 3C14.6642 3 15 3.33579 15 3.75C15 4.16421 14.6642 4.5 14.25 4.5L2.25 4.5C1.83579 4.5 1.5 4.16421 1.5 3.75Z"
                          fill="black"
                        ></path>
                        <path
                          d="M1.5 8.625C1.5 8.21079 1.83579 7.875 2.25 7.875L8.25 7.875C8.66421 7.875 9 8.21079 9 8.625C9 9.03921 8.66421 9.375 8.25 9.375L2.25 9.375C1.83579 9.375 1.5 9.03921 1.5 8.625Z"
                          fill="black"
                        ></path>
                        <path
                          d="M1.5 13.5C1.5 13.0858 1.83579 12.75 2.25 12.75L8.25 12.75C8.66421 12.75 9 13.0858 9 13.5C9 13.9142 8.66421 14.25 8.25 14.25L2.25 14.25C1.83579 14.25 1.5 13.9142 1.5 13.5Z"
                          fill="black"
                        ></path>
                        <path
                          d="M13.75 14C13.3358 14 13 13.6642 13 13.25L13 6.75C13 6.33579 13.3358 6 13.75 6C14.1642 6 14.5 6.33579 14.5 6.75L14.5 13.25C14.5 13.6642 14.1642 14 13.75 14Z"
                          fill="black"
                        ></path>
                        <path
                          d="M10.75 11L13.7345 14L16.75 11"
                          stroke="black"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          fill="black"
                        ></path>
                      </svg>
                    </i>
                    <span class="__label">최신순</span>
                    <i
                      ><svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M4.94 6L8 9.05333L11.06 6L12 6.94L8 10.94L4 6.94L4.94 6Z"
                          fill="black"
                        ></path></svg
                    ></i>
                  </div>
                </div>
              </div>
              <div class="nodata font-16 mt-80 mb-120">
                등록된 컬렉션이 없습니다.
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
