<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>즐거운 미식 생활의 시작, 캐치테이블</title>
    <link rel="shortcut icon" href="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp/img/app/favicon.ico">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto|Noto+Sans+KR:300,400,500,700&amp;display=block&amp;subset=korean"
        as="style" crossorigin="anonymous" onload="this.onload=null;this.rel='stylesheet'">
    <!-- <link rel="preload" href="https://dau2wmhjxkxtx.cloudfront.net/static/appjs/20221212160457/styles.css" as="style" crossorigin="anonymous">
                    에러남 -->
    <link rel="stylesheet" href="css/style_log.css">

<body class="disable-user-select">
    <div id="root">
        <div class="wrapper">

            <!--헤더 시작-->
            <header id="header" class="opaque">
                <div class="container">
                    <div class="header-left">
                        <h1 class="page-title">마이다이닝</h1>
                    </div>
                </div>
            </header>
            <main id="main">
                <div class="tab-menu sticky">
                    <ul>
                        <li class="active"><a href="/ct/mydining/my/planned"><span>나의 예약</span></a></li>
                        <li class=""><a href="/ct/mydining/emptySlot"><span>나의 알림</span></a></li>
                    </ul>
                </div>
                <!-- 헤더 끝 -->

                <hr class="separator" style="height: 4px;">
                <a href="/ct/notice/content/371" class="__banner">
                    <img src="https://d21sjc85fy47a6.cloudfront.net/aaaaaqx/md/banner_1212.png"
                        style="display: block; width: 100%;">
                </a>
                <hr class="separator" style="height: 4px;">
                <div class="mb-30">

                </div>
                <section class="section mb-30">
                    <div class="container gutter-sm">
                        <div class="tag-radio-group mt--10"><label><input type="radio" name="type" value="planned"><span
                                    class="label">방문예정</span></label><label style="position: relative;"><input
                                    type="radio" name="type" value="done" checked=""><span
                                    class="label">방문완료</span></label><label><input type="radio" name="type"
                                    value="cancel"><span class="label">취소/노쇼</span></label></div>
                    </div>
                    <div class="container gutter-sm mt-24">
                        <div class="section-header">
                            <h3 class="section-title section-title-sm">총 1건</h3>
                            <div class="utils"><a href="#" class="btn-sort desc">방문일자</a></div>
                        </div>
                        <div class="section-body">
                            <div class="my-dining-list">
                                <div class="section-body">
                                    <div class="mypage-reservation-list">
                                        <div class="my-dining-list">
                                            <div id="myReservationDoneListScroll">
                                                <div id="myReservationDoneListScroll_0" data-dummy="216.27273559570312">
                                                    <div class="my-dining-item-wrap">
                                                        <div class="my-dining-item completed">
                                                            <div class="my-dining-item-header">
                                                                <div class="my-dining-status">
                                                                    <div class="badge">방문완료</div>
                                                                    <div class="desc">총 1회 방문</div>
                                                                </div>
                                                                <div class="restaurant-info">
                                                                    <div class="tb"><img
                                                                            src="https://image.toast.com/aaaaaqx/catchtable/shopinfo/s20174/20174_2143012474882250.jpg?small220">
                                                                    </div>
                                                                    <div class="info">
                                                                        <h3>스시소요</h3>
                                                                        <div class="meta"><span>스시오마카세 · 부천</span></div>
                                                                        <div class="date">2022.7.17 오후 8:00 2명</div>
                                                                        <div>
                                                                            <p class="notice ebold"
                                                                                style="margin-top: 5px;">결제 취소 및 환불까지 평균
                                                                                3~10일이 걸립니다.</p>
                                                                        </div>
                                                                    </div>
                                                                </div><a class="btn-delete">삭제</a>
                                                            </div>
                                                            <div class="my-dining-item-body">
                                                                <div class="txt-center"><a href="#"
                                                                        class="btn btn-blue"><span
                                                                            class="label arrow font-13">내 리뷰
                                                                            보러가기</span></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <a href="/ct/my/reservationSync" class="full-txt-banner pl-20 pr-20">
                    <div class="banner-txt">
                        <h4 class="font-15 bold mb-2">전화예약 캐치테이블 앱으로 연동하기</h4>
                        <p class="font-12 color-gray">전화로 한 예약도 앱에서 확인할 수 있어요!</p>
                    </div>
                    <i class="arrow"></i>
                </a>
            </main>
        </div>

        <!-- <aside id="dock">
            <div class="dock-container">
                <nav class="dock-menu">
                    <a href="/" class=""><i class="home">홈</i></a>
                    <a href="/ct/search" class=""><i class="search">검색</i></a>
                    <a class="" id="__guide_icon1"><i href="/ct/feed/feedMain" class="review">리뷰</i></a>
                    <a href="/ct/mydining/my/planned" class="active"><i class="mydining">마이다이닝</i><span class="alarm" style="visibility: hidden;">작성가능한 리뷰 0건</span></a><a href="/ct/my/myMain" class=""><i class="account"></i><span>내 계정</span></a></nav></div></aside> -->

    </div>

</body>

</html>