<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/feeddetailstyle.css">
</head>
<body>
    <div id="root">
        <div class="wrapper">
            <header id="header" class="opaque">
                <div class="container">
                    <div class="header-left">
                        <button class="btn-back">뒤로</button>
                        <button class="btn-home">홈</button>
                    </div>
                </div>
            </header>
            <main>
                <div class="timeline-posts" id="timeline-posts">
                    <article class="timeline-post-item">
                        <div class="timeline-header">
                            <div class="profile">
                                <div class="profile-pic "><img
                                        src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/noimg/profile_default_v2.png"
                                        alt="" class="img"></div>
                                <div class="__info"><span class="name username">멍장</span><span class="userinfo">리뷰 3개 · 평균별점 4.8</span>
                                </div>
                            </div><button class="btn btn-orange btn-rounded"><span class="label">팔로우</span></button>
                        </div>
                        <div class="timeline-gallery more">
                            <div class="gallery">
                                <div class="gallery-in">
                                    <div class="imgbox">
                                        <div class="imgin"><img
                                                src="https://d21sjc85fy47a6.cloudfront.net/aaaaaqx/rv/sbqNXYzXD1UOzmSEZIWc2mg/221214213425598_rv.jpg?detail750"
                                                alt=""></div>
                                        <div class="imgin"><img
                                                src="https://d21sjc85fy47a6.cloudfront.net/aaaaaqx/rv/sbqNXYzXD1UOzmSEZIWc2mg/221214213425934_rv.jpg?detail750"
                                                alt=""></div>
                                    </div>
                                    <div class="imgbox">
                                        <div class="imgin"><img
                                                src="https://d21sjc85fy47a6.cloudfront.net/aaaaaqx/rv/sbqNXYzXD1UOzmSEZIWc2mg/221214213425839_rv.jpg?detail750"
                                                alt=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-post-content">
                            <div class="__post-meta">
                                <div class="__review-meta __review-meta--with-rating" style="width: 100%;">
                                    <div class="__d-flex __v-center" style="justify-content: space-between;"><a href="#"
                                            class="__rating __active">4.5</a><span class="__date">5일 전</span></div>
                                    <div class="__rating-detail __d-flex">
                                        <div class="__item">맛 <span>4.0</span></div>
                                        <div class="__item">분위기 <span>4.5</span></div>
                                        <div class="__item">서비스 <span>5.0</span></div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="__title"></h3>
                            <div class="__content __open">
                                <div id="__content0_1268241" class="">예약시간보다 30분 이르게 방문할것같아서 문의드렸더니 친절하게 시간변경 해주셨습니다. 떡볶이 후기가 많아서 기대하고갔는데
                                    확실히 맛있었어요 하나도 안맵고 절묘한 로제맛..! 오뎅맛이 많이 우러나있어서 익숙하게 잘 먹었습니다. 다른테이블에서 시킨 케이크가 맛있어보여서 시켰는데 정말 맛있었어요 시트부분이
                                    푸스러지지않고 쫀독한 식감! 잘먹었습니다 </div>
                            </div><a class="__toggle">전체보기</a>
                            <div class="restaurant-info"><img
                                    src="https://image.toast.com/aaaaaqx/catchtable/shopinfo/s23312/23312_2211218294714113_thumbMenuImage.png?small220"
                                    alt="" class="thumb">
                                <div class="__info">
                                    <h4 class="__name"><span>BOME CHEONGDAM(보메 청담)</span></h4>
                                    <div class="__meta">이탈리아음식 • 청담</div>
                                </div><img
                                    src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/icons/icon_arrow/arrow_left_black.svg"
                                    alt="">
                            </div>
                        </div>
                        <div class="timeline-post-footer">
                            <div class="__post-meta"><span class="__like">0</span><span class="__comment">0</span><a class="__more">MORE</a>
                            </div>
                        </div>
                    </article>
                </div>
            </main>
        </div>
    </div>
</body>
</html>