<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/feedMain.css">
</head>
<body class="disable-user-select">
    <div id="root">
        <div id="root">
            <div class="wrapper">
                <header id="header" class="opaque">
                    <div class="container">
                        <div class="header-left">
                            <h1 class="page-title">
                                <span class="__d-flex __h-center">타임라인 
                                    <img src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/icons/beta2.svg" alt="betaIcon" class="ml-8">
                                </span>
                            </h1>
                        </div>
                    </div>
                </header>
                <main id="main">
                    <div class="search-header-timeline-sticky ">
                        <div class="tab-menu" style="z-index: 11;">
                            <ul>
                                <li class="active">
                                    <a>
                                        <span>추천</span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span>팔로잉</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="search-header-timeline">
                            <div class="__filter-list">
                                <div class="__list">
                                    <div class="swiper swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-backface-hidden">
                                        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                                            <div class="swiper-slide" style="margin-right: 8px;">
                                                <a class="__active">
                                                    <span>전체</span>
                                                </a>
                                            </div>
                                            <div class="swiper-slide swiper-slide-prev" style="margin-right: 8px;">
                                                <a>
                                                    <span>다이닝바</span>
                                                </a>
                                            </div>
                                            <div class="swiper-slide swiper-slide-active" style="margin-right: 8px;">
                                                <a>
                                                    <span>카페, 디저트</span>
                                                </a>
                                            </div>
                                            <div class="swiper-slide swiper-slide-next" style="margin-right: 8px;">
                                                <a>
                                                    <span>중식</span>
                                                </a>
                                            </div>
                                            <div class="swiper-slide" style="margin-right: 8px;">
                                                <a>
                                                    <span>이탈리아</span>
                                                </a>
                                            </div>
                                            <div class="swiper-slide" style="margin-right: 8px;">
                                                <a>
                                                    <span>퓨전, 컨템포러리</span>
                                                </a>
                                            </div>
                                            <div class="swiper-slide" style="margin-right: 8px;">
                                                <a>
                                                    <span>일식</span>
                                                </a>
                                            </div>
                                            <div class="swiper-slide" style="margin-right: 8px;">
                                                <a>
                                                    <span>한식</span>
                                                </a>
                                            </div>
                                            <div class="swiper-slide" style="margin-right: 8px;">
                                                <a>
                                                    <span>프랑스음식</span>
                                                </a>
                                            </div>
                                            <div class="swiper-slide" style="margin-right: 8px;">
                                                <a>
                                                    <span>고기요리</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="feedRootDiv" class="timeline-posts">
                        <div id="feedCardListScroll">
                            <div id="feedCardListScroll_0" data-dummy="650">
                                <div>
                                    <article class="timeline-post-item timeline-post-item-feed">
                                        <div class="timeline-header">
                                            <div class="profile">
                                                <div class="profile-pic ">
                                                    <img src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/noimg/profile_default_v2.png" alt="" class="img">
                                                </div>
                                                <div class="__info">
                                                    <span class="name username">heajin1205</span>
                                                    <span class="userinfo">리뷰 1개 · 평균별점 5</span>
                                                </div>
                                            </div>
                                            <button class="btn btn-orange btn-rounded">
                                                <span class="label">팔로우</span>
                                            </button>
                                        </div>
                                        <div class="timeline-gallery more">
                                            <div class="gallery">
                                                <div class="gallery-in">
                                                    <div class="imgbox">
                                                        <div class="imgin">
                                                            <img src="https://d21sjc85fy47a6.cloudfront.net/aaaaaqx/rv/ssXqv1QQlybrd2HPKgndbmA/221215183825838(0).jpeg?detail750" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-post-content">
                                            <div class="__post-meta">
                                                <div class="__rating">5.0</div>
                                                <div class="__date">3일 전</div>
                                            </div>
                                            <h3 class="__title"></h3>
                                            <div class="__content ">
                                                <div id="__content0_1273396" class="">
                                                    사진에서 본것처럼 분위기도 너무 좋고 특히 바 디자인이 너무 예쁘고 사장님들 너무친절하시고 음식도 너무 맛잇엇습니다 ~ 가격대도 합리적이라 또 가야겟어요 ㅎ
                                                </div>
                                            </div>
                                            <a class="__toggle">전체보기</a>
                                            <div class="restaurant-info">
                                                <img src="https://image.toast.com/aaaaaqx/catchtable/shopinfo/s20458/20458_2152617194232420_thumbMenuImage.jpeg?small220" alt="" class="thumb">
                                                <div class="__info">
                                                    <h4 class="__name">
                                                        <span>스시요로코부</span>
                                                    </h4>
                                                    <div class="__meta">스시오마카세 • 송도</div>
                                                </div>
                                                <img src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/icons/icon_arrow/arrow_left_black.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="timeline-post-footer">
                                            <div class="__post-meta">
                                                <span class="__like">0</span>
                                                <span class="__comment">0</span>
                                                <a class="__more">MORE</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="feedRootDiv" class="timeline-posts">
                        <div id="feedCardListScroll">
                            <div id="feedCardListScroll_0" data-dummy="650">
                                <div>
                                    <article class="timeline-post-item timeline-post-item-feed">
                                        <div class="timeline-header">
                                            <div class="profile">
                                                <div class="profile-pic ">
                                                    <img src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/noimg/profile_default_v2.png" alt="" class="img">
                                                </div>
                                                <div class="__info">
                                                    <span class="name username">heajin1205</span>
                                                    <span class="userinfo">리뷰 1개 · 평균별점 5</span>
                                                </div>
                                            </div>
                                            <button class="btn btn-orange btn-rounded">
                                                <span class="label">팔로우</span>
                                            </button>
                                        </div>
                                        <div class="timeline-gallery more">
                                            <div class="gallery">
                                                <div class="gallery-in">
                                                    <div class="imgbox">
                                                        <div class="imgin">
                                                            <img src="https://d21sjc85fy47a6.cloudfront.net/aaaaaqx/rv/ssXqv1QQlybrd2HPKgndbmA/221215183825838(0).jpeg?detail750" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-post-content">
                                            <div class="__post-meta">
                                                <div class="__rating">5.0</div>
                                                <div class="__date">3일 전</div>
                                            </div>
                                            <h3 class="__title"></h3>
                                            <div class="__content ">
                                                <div id="__content0_1273396" class="">
                                                    사진에서 본것처럼 분위기도 너무 좋고 특히 바 디자인이 너무 예쁘고 사장님들 너무친절하시고 음식도 너무 맛잇엇습니다 ~ 가격대도 합리적이라 또 가야겟어요 ㅎ
                                                </div>
                                            </div>
                                            <a class="__toggle">전체보기</a>
                                            <div class="restaurant-info">
                                                <img src="https://image.toast.com/aaaaaqx/catchtable/shopinfo/s20458/20458_2152617194232420_thumbMenuImage.jpeg?small220" alt="" class="thumb">
                                                <div class="__info">
                                                    <h4 class="__name">
                                                        <span>스시요로코부</span>
                                                    </h4>
                                                    <div class="__meta">스시오마카세 • 송도</div>
                                                </div>
                                                <img src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/icons/icon_arrow/arrow_left_black.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="timeline-post-footer">
                                            <div class="__post-meta">
                                                <span class="__like">0</span>
                                                <span class="__comment">0</span>
                                                <a class="__more">MORE</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="feedRootDiv" class="timeline-posts">
                        <div id="feedCardListScroll">
                            <div id="feedCardListScroll_0" data-dummy="650">
                                <div>
                                    <article class="timeline-post-item timeline-post-item-feed">
                                        <div class="timeline-header">
                                            <div class="profile">
                                                <div class="profile-pic ">
                                                    <img src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/noimg/profile_default_v2.png" alt="" class="img">
                                                </div>
                                                <div class="__info">
                                                    <span class="name username">heajin1205</span>
                                                    <span class="userinfo">리뷰 1개 · 평균별점 5</span>
                                                </div>
                                            </div>
                                            <button class="btn btn-orange btn-rounded">
                                                <span class="label">팔로우</span>
                                            </button>
                                        </div>
                                        <div class="timeline-gallery more">
                                            <div class="gallery">
                                                <div class="gallery-in">
                                                    <div class="imgbox">
                                                        <div class="imgin">
                                                            <img src="https://d21sjc85fy47a6.cloudfront.net/aaaaaqx/rv/ssXqv1QQlybrd2HPKgndbmA/221215183825838(0).jpeg?detail750" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-post-content">
                                            <div class="__post-meta">
                                                <div class="__rating">5.0</div>
                                                <div class="__date">3일 전</div>
                                            </div>
                                            <h3 class="__title"></h3>
                                            <div class="__content ">
                                                <div id="__content0_1273396" class="">
                                                    사진에서 본것처럼 분위기도 너무 좋고 특히 바 디자인이 너무 예쁘고 사장님들 너무친절하시고 음식도 너무 맛잇엇습니다 ~ 가격대도 합리적이라 또 가야겟어요 ㅎ
                                                </div>
                                            </div>
                                            <a class="__toggle">전체보기</a>
                                            <div class="restaurant-info">
                                                <img src="https://image.toast.com/aaaaaqx/catchtable/shopinfo/s20458/20458_2152617194232420_thumbMenuImage.jpeg?small220" alt="" class="thumb">
                                                <div class="__info">
                                                    <h4 class="__name">
                                                        <span>스시요로코부</span>
                                                    </h4>
                                                    <div class="__meta">스시오마카세 • 송도</div>
                                                </div>
                                                <img src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/icons/icon_arrow/arrow_left_black.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="timeline-post-footer">
                                            <div class="__post-meta">
                                                <span class="__like">0</span>
                                                <span class="__comment">0</span>
                                                <a class="__more">MORE</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="feedRootDiv" class="timeline-posts">
                        <div id="feedCardListScroll">
                            <div id="feedCardListScroll_0" data-dummy="650">
                                <div>
                                    <article class="timeline-post-item timeline-post-item-feed">
                                        <div class="timeline-header">
                                            <div class="profile">
                                                <div class="profile-pic ">
                                                    <img src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/noimg/profile_default_v2.png" alt="" class="img">
                                                </div>
                                                <div class="__info">
                                                    <span class="name username">heajin1205</span>
                                                    <span class="userinfo">리뷰 1개 · 평균별점 5</span>
                                                </div>
                                            </div>
                                            <button class="btn btn-orange btn-rounded">
                                                <span class="label">팔로우</span>
                                            </button>
                                        </div>
                                        <div class="timeline-gallery more">
                                            <div class="gallery">
                                                <div class="gallery-in">
                                                    <div class="imgbox">
                                                        <div class="imgin">
                                                            <img src="https://d21sjc85fy47a6.cloudfront.net/aaaaaqx/rv/ssXqv1QQlybrd2HPKgndbmA/221215183825838(0).jpeg?detail750" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-post-content">
                                            <div class="__post-meta">
                                                <div class="__rating">5.0</div>
                                                <div class="__date">3일 전</div>
                                            </div>
                                            <h3 class="__title"></h3>
                                            <div class="__content ">
                                                <div id="__content0_1273396" class="">
                                                    사진에서 본것처럼 분위기도 너무 좋고 특히 바 디자인이 너무 예쁘고 사장님들 너무친절하시고 음식도 너무 맛잇엇습니다 ~ 가격대도 합리적이라 또 가야겟어요 ㅎ
                                                </div>
                                            </div>
                                            <a class="__toggle">전체보기</a>
                                            <div class="restaurant-info">
                                                <img src="https://image.toast.com/aaaaaqx/catchtable/shopinfo/s20458/20458_2152617194232420_thumbMenuImage.jpeg?small220" alt="" class="thumb">
                                                <div class="__info">
                                                    <h4 class="__name">
                                                        <span>스시요로코부</span>
                                                    </h4>
                                                    <div class="__meta">스시오마카세 • 송도</div>
                                                </div>
                                                <img src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/icons/icon_arrow/arrow_left_black.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="timeline-post-footer">
                                            <div class="__post-meta">
                                                <span class="__like">0</span>
                                                <span class="__comment">0</span>
                                                <a class="__more">MORE</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>
</html>