<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Noto+Sans+KR:300,400,500,700&amp;display=block&amp;subset=korean" as="style" crossorigin="anonymous" onload="this.onload=null;this.rel='stylesheet'">
    
</head>
<link rel="stylesheet" href="css/login.css">
<body>
    <div id="root">
        <div class="wrapper">
            <main id="main" class="fullpage">
                <section class="signin-wrapper">
                    <div class="__inner">
                        <div class="container">
                            <h1 class="brand-title brand-title-sm" style="margin-bottom: 10vh;">
                                <small>즐거운 미식생활의 시작</small>
                                <strong>CATCH TABLE</strong>
                            </h1>
                            <div class="__login-with-kakao">
                                <span class="__quick">
                                    <img src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/login/kakao_tooltip.svg" alt="">
                                    <em>⚡️10초만에 빠른가입⚡️</em>
                                </span>
                                <button class="__kakao"><img src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/login/kakao_button.svg" alt="">카카오로 시작하기</button>
                            </div>
                            <div class="__or__"> 또는</div>

                            <div class="social-logins social-logins-o">
                                <div id="naver_id_login" style="display: none;"><a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&amp;client_id=f3q_cD4_tH77OcyZ6EjN&amp;redirect_uri=https%3A%2F%2Fapp.catchtable.co.kr%2Fct%2Foauth%2Fnaver_callback&amp;state=catchtable" id="naver_id_login_anchor"><img src="http://static.nid.naver.com/oauth/button_g.PNG" border="0" title="네이버 아이디로 로그인" width="40" height="40"></a> </div>
                                <a href="" class="__naver "><img src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/login/naver_v2.svg" alt=""></a>
                                <span class="__split"></span>
                                <a href="" class="__apple "><img src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/login/apple_v2.svg" alt=""></a>
                                <span class="__split"></span>
                                <a href="" class="__phone"><img src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/login/phone.svg" alt=""></a>
                            </div>
                            <div class="__already-signin"><p>이미 가입하셨나요?</p><button>전화번호로 로그인 하기</button></div>
                        </div>
                    </div>
                </section>
                <div class="sticky-bottom-btns pb-68" style="padding: 10px;"><div class="__ml-auto __mr-auto"><a href="" class="underline color-gray font-12">회원 가입 문의</a></div>
                </div>
            </main>
        </div>
    </div>
    
</body>
</html>