<!-- 식당 메뉴 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴 탭</title>
    <link rel="stylesheet" href="css/st_menu.css">
</head>

<body>
    <div class="wrapper" id="wrapperDiv">
        <header id="header" class="opaque">
            <div class="container">
                <div class="header-left"><a href="#" class="btn-back">뒤로</a>
                    <h1 class="page-title" style="padding-right: 4px;">텍사스 데 브라질 센트럴시티점</h1>
                </div>
            </div>
        </header>
        <main id="main">
            <div class="tab-menu sticky">
                <ul>
                    <li class=""><a><span>홈</span></a></li>
                    <li class="active"><a><span>메뉴</span></a></li>
                    <li class=""><a style="display: flex; align-items: center;"><span>사진</span><span
                                style="font-size: 10px; color: rgb(170, 170, 170); padding-left: 3px; padding-top: 1px;">123</span></a>
                    </li>
                    <li class=""><a style="display: flex; align-items: center;"><span>리뷰</span><span
                                style="font-size: 10px; color: rgb(170, 170, 170); padding-left: 3px; padding-top: 1px;">183</span></a>
                    </li>
                </ul>
            </div>
            <section class="menu-img-list">
                <div class="container gutter-sm">
                    <h3>메뉴판</h3>
                    <div class="v-scroll">
                        <div class="v-scroll-inner">
                            <ul class="menu-simple-list">
                                <li><a href="#"><img
                                            src="https://image.toast.com/aaaaaqx/catchtable/shopmenupan/s2023/2023_21101410200458922_thumbMenuImage.jpg"
                                            alt="메뉴판 이미지"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <div class="menu-collapsed-list">
                <div class="menu-collapsed-item" id="openId_0"><a class="menu-collapsed-item-header ">
                        <div class="menu-info">
                            <h4 class="name"><strong>평일_런치</strong></h4><span class="price">53,000원</span>
                        </div>
                    </a>
                    <div class="menu-collapsed-item-body"><a href="#" class="submenu-item">
                            <div class="menu-info">
                                <div class="badge-wrap"><span class="badge recom">추천</span><span
                                        class="badge repre">대표</span></div>
                                <div class="name">
                                    <h4>성인</h4>
                                </div>
                                <p class="excerpt">평일런치는 9종의 슈하스코와 다양한 야채가 있는 샐러드바가 준비되어 있습니다. (Last order 15:00) Last
                                    order 1시간 이전에는 입장하셔야 원활한 이용가능.</p><span class="price">53,000원</span>
                            </div>
                        </a><a href="#" class="submenu-item">
                            <div class="menu-info">
                                <div class="name">
                                    <h4>초등학생 (8세~13세)</h4>
                                </div><span class="price">27,000원</span>
                            </div>
                        </a><a href="#" class="submenu-item">
                            <div class="menu-info">
                                <div class="name">
                                    <h4>미취학 아동 (3세~7세)</h4>
                                </div><span class="price">14,000원</span>
                            </div>
                        </a></div>
                </div>
                <div class="menu-collapsed-item" id="openId_1"><a class="menu-collapsed-item-header ">
                        <div class="menu-info">
                            <h4 class="name"><strong>주말/공휴일_런치</strong></h4><span class="price">68,000원</span>
                        </div>
                    </a>
                    <div class="menu-collapsed-item-body"><a href="#" class="submenu-item">
                            <div class="menu-info">
                                <div class="badge-wrap"><span class="badge repre">대표</span></div>
                                <div class="name">
                                    <h4>성인</h4>
                                </div>
                                <p class="excerpt">주말 및 평일 디너는 15종의 슈하스코가 제공됩니다.(Last Order 21:30)</p><span
                                    class="price">68,000원</span>
                            </div>
                        </a><a href="#" class="submenu-item">
                            <div class="menu-info">
                                <div class="name">
                                    <h4>초등학생 (8세~13세)</h4>
                                </div><span class="price">34,000원</span>
                            </div>
                        </a><a href="#" class="submenu-item">
                            <div class="menu-info">
                                <div class="name">
                                    <h4>미취학 아동(3세~7세)</h4>
                                </div><span class="price">20,000원</span>
                            </div>
                        </a></div>
                </div>
                <div class="menu-collapsed-item" id="openId_2"><a class="menu-collapsed-item-header ">
                        <div class="menu-info">
                            <h4 class="name"><strong>평일/주말/공휴일_디너</strong></h4><span class="price">68,000원</span>
                        </div>
                    </a>
                    <div class="menu-collapsed-item-body"><a href="#" class="submenu-item">
                            <div class="menu-info">
                                <div class="badge-wrap"><span class="badge repre">대표</span></div>
                                <div class="name">
                                    <h4>성인</h4>
                                </div>
                                <p class="excerpt">주말 및 평일 디너는 15종의 슈하스코가 제공됩니다.(Last Order 21:30)</p><span
                                    class="price">68,000원</span>
                            </div>
                        </a><a href="#" class="submenu-item">
                            <div class="menu-info">
                                <div class="name">
                                    <h4>초등학생 (8세~13세)</h4>
                                </div><span class="price">34,000원</span>
                            </div>
                        </a><a href="#" class="submenu-item">
                            <div class="menu-info">
                                <div class="name">
                                    <h4>미취학 아동 (3세~7세)</h4>
                                </div><span class="price">20,000원</span>
                            </div>
                        </a></div>
                </div>
            </div>
            <div class="container gutter-sm pt-20 mb-30">
                <p class="font-12 mb-6">* 메뉴와 가격은 레스토랑 사정에 따라 달라질 수 있습니다.</p>
                <p class="txt-right font-11 color-gray">마지막 업데이트 일자 : 2022.11.15</p>
            </div>
            <hr class="space-40">
        </main>
    </div>
</body>

</html>