<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/setting.css" />
  </head>
  <body class="disable-user-select">
    <div>
      <span itemscope itemtype="http://schema.org/Organization"></span>
    </div>
    <div style="display: none">
      <a href="#">레스토랑 예약</a>
      <a href="#">티켓 할인</a>
      <a href="#">신규 오픈</a>
    </div>
    <div id="root">
      <div class="wrapper">
        <header id="header" class="opaque">
          <div class="container">
            <div class="header-left">
              <button class="btn-back">이전</button>
              <h1 class="page-title">설정</h1>
            </div>
          </div>
        </header>
        <main id="main" class="pb-20">
          <section class="section pt-16 mb-30">
            <div class="board-list">
              <h3 class="color-gray font-14 mb-10 pl-20">내 정보</h3>
              <a href="#" class="board-list-item">
                <div class="txt">
                  <h4 class="title font-16">프로필 수정</h4>
                </div>
              </a>
              <a href="#" class="board-list-item">
                <div class="txt">
                  <h4 class="title font-16">내 정보 수정</h4>
                </div>
              </a>
            </div>
            <hr class="hairline mt-10 mb-18" />
            <div class="board-list">
                <h3 class="color-gray font-14 mb-10 pl-20">예약 정보</h3>
                <a href="#" class="board-list-item">
                  <div class="txt">
                    <h4 class="title font-16">예약 연동하기</h4>
                  </div>
                </a>
                <a href="#" class="board-list-item">
                  <div class="txt">
                    <h4 class="title font-16">결제 카드 관리</h4>
                  </div>
                </a>
            </div>
        
            <hr class="hairline mt-10 mb-18" />
            <div class="board-list">
                <h3 class="color-gray font-14 mb-10 pl-20">서비스 이용</h3>
                <a href="#" class="board-list-item">
                  <div class="txt">
                    <h4 class="title font-16">1:1 문의</h4>
                  </div>
                </a>
                <a href="#" class="board-list-item">
                  <div class="txt">
                    <h4 class="title font-16">개선 제안하기</h4>
                  </div></a>
                  <a href="#" class="board-list-item">
                    <div class="txt">
                      <h4 class="title font-16">공지사항 및 이용약관</h4>
                    </div>
                    </a>
            </div>
            <hr class="hairline mt-10 mb-18" />
            <div class="board-list">
                <a href="#" class="board-list-item">
                  <div class="txt">
                    <h4 class="title font-16">알림설정</h4>
                  </div>
                </a>
            </div> 
            </div>
            <div class="space-60"></div>
          </section>
        </main>
      </div>
      <aside id="dock">
        <div class="dock-container">
          <nav class="dock-menu">
            <a href="#" class>
              <i class="home">홈</i>
            </a>
            <a href="#" class>
              <i class="search">검색</i>
            </a>
            <a href="#" id="__guide_icon1">
              <i href="#" class="review">리뷰</i>
            </a>
            <a href="#" class>
              <i class="mydining">마이다이닝</i>
              <span class="alarm" style="visibility: hidden">
                작성가능한 리뷰 0 건
                <span class="notice">리뷰 작성 기한이 변경됩니다.</span>
              </span>
            </a>
            <a href="#" class="active">
              <i class="account"></i>
              <span>내 계정</span>
            </a>
          </nav>
        </div>
      </aside>
    </div>
  </body>
</html>
