<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/modify_pro_1.css" />
  </head>
  <body class="disable-user-select">
    <div>
      <span itemscope itemtype="http://schema.org/Organization"></span>
    </div>
    <div style="display: none">
      <a href="#">레스토랑 예약</a>
      <a href="#">티켓 할인</a>
      <a href="#">신규 오픈</a>
    </div>
    <div id="root">
      <div class="wrapper">
        <header id="header" class="opaque">
          <div class="container">
            <div class="header-left">
              <button class="btn-back">이전</button>
              <h1 class="page-title">내 정보 수정</h1>
            </div>
            <div class="header-right"></div>
          </div>
        </header>
        <main id="main">
          <div class="my-account">
            <div class="mb-10">
              <div class="container gutter-sm">
                <a href="#" class="my-account-info-box">
                  <dl>
                    <dt>이름(실명을 입력해주세요)</dt>
                    <dd class="empty">이혁제</dd>
                  </dl>
                </a>
                <a href="#" class="my-account-info-box">
                  <dl>
                    <dt>휴대폰 번호</dt>
                    <dd class="empty">휴대폰 번호를 입력해주세요</dd>
                  </dl>
                </a>
                <a href="#" class="my-account-info-box">
                  <dl>
                    <dt>비밀번호</dt>
                    <dd class="empty">미설정</dd>
                  </dl>
                </a>
                <a href="#" class="my-account-info-box">
                  <dl>
                    <dt>간편 로그인 설정</dt>
                    <dd class="empty">카카오</dd>
                  </dl>
                </a>
              </div>
              <hr class="hairline mt-10 mb-10" />
              <div class="container gutter-sm">
                <a href="#" class="my-account-info-box">
                  <dl>
                    <dt>성별</dt>
                    <dd class="empty">선택안함</dd>
                  </dl>
                </a>
                <a href="#" class="my-account-info-box">
                  <dl>
                    <dt>생일</dt>
                    <dd class="empty">생일 정보를 입력해주요</dd>
                  </dl>
                </a>
                <a href="#" class="my-account-info-box">
                  <dl>
                    <dt>기념일</dt>
                    <dd class="empty">기념일 정보를 입력해주세요</dd>
                  </dl>
                </a>
              </div>
            </div>
            <hr class="separator no-grad mt-15 mb-10" />
            <div class="mb-10">
              <div
                class="my-account-info-box font-16"
                style="margin-left: 20px; margin-right: 20px"
              >
                <!-- 이부분만 스타일이 안먹어서 margin left 추가로 주었음  -->
                알림설정
              </div>
            </div>
            <hr class="separator no-grad mb-24" />
            <div class="container gutter-sm">
              <a href="#" class="color-silver bold">로그아웃</a>
            </div>
            <hr class="separator no-grad mt-25 mb-25" />
            <div class="container gutter-sm txt-center">
              <div class="color-silver bold" style="text-align: right">
                <span style="font-size: 11px">
                  회원탈퇴를 하시려면
                  <a
                    href="#"
                    class="btn-text-lined btn-text-lined-grey"
                    style="color: rgb(119, 119, 119)"
                    >여기</a
                  >를눌러주세요
                </span>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
