<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/mypage_reivew.css" />
  </head>
  <body class="disable-user-select">
    <div style="display: none">
      <a href="https://app.catchtable.co.kr/ct/search">레스토랑 예약</a>
      <a href="https://app.catchtable.co.kr"></a>
      <a href="https://app.catchtable.co.kr"></a>
    </div>
    <div></div>
    <div></div>
    <div id="root">
      <div class="wrapper">
        <header id="header" class="opaque">
          <div class="container">
            <div class="header-left">
              <h1 class="page-title">마이페이지</h1>
              <div class="header-right">
                <button class="btn-icon setting">세팅</button>
              </div>
            </div>
          </div>
        </header>
        <main id="main">
          <section class="section pt-24">
            <div class="container gutter-sm">
              <div class="mypage-profile">
                <div class="profile-pic">
                  <div
                    class="img"
                    style="
                      background-image: url('https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/noimg/profile_default_v2.png');
                    "
                  ></div>
                </div>
                <div class="mypage-profile-meta">
                  <h4 class="name username" style="margin-bottom: 3px">
                    이혁제
                  </h4>
                  <div class="meta" style="height: 14.8px; margin-top: 3px">
                    <dl>
                      <dt>팔로잉</dt>
                      <dd style="margin-left: 1px">1</dd>
                    </dl>
                    <span>|</span>
                    <dl>
                      <dt>팔로워</dt>
                      <d style="margin-left: 1px">0</d>
                    </dl>
                  </div>
                  <div class="social"></div>
                </div>
              </div>
              <div class="mypage-profile--desc" style="display: block">
                <div class="__desc">
                  <p id="introduce_p" class="expand"></p>
                </div>
                <button
                  class="btn btn-md btn-outline btn-rounded full-width mt-18"
                >
                  <span
                    class="label"
                    style="
                      background-color: white;
                      border: 1px solid #d5d5d5;
                      border-radius: 20px;
                    "
                    >프로필 수정</span
                  >
                </button>
              </div>
            </div>
          </section>
          <hr class="separator mt-28" style="border: none" />
          <section class="section section-overflow-hidden">
            <div class="profile-summary"></div>
          </section>
          <div class="tab-menu mb-10 sticky">
            <ul>
              <li>
                <a>
                  <span>
                    나의 저장
                    <small class="count">10</small>
                  </span>
                </a>
              </li>
              <li class="active">
                <a>
                  <span>
                    리뷰
                    <small class="count">1</small>
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div id="review">
            <section class="section section-overflow-hidden">
              <div class="container gutter-sm">
                <div
                  class="__my-review-list ml--20 mr--20"
                  style="overflow: hidden"
                >
                  <div
                    class="profile-summary"
                    style="
                      border-bottom: 1px solid rgb(232, 232, 232);
                      border-top-color: rgb(232, 232, 232);
                      border-right-color: rgb(232, 232, 232);
                      border-left-color: rgb(232, 232, 232);
                      border-top-style: solid;
                      border-right-style: solid;
                      border-left-style: solid;
                    "
                  >
                    <dl class="__block __d-flex">
                      <dt>평균 별점</dt>
                      <dd>
                        <div class="__avr-rate __d-flex __v-center">
                          <strong>4.7</strong>
                          <div class="stars">
                            <span
                              class="star full"
                              style="
                                width: 20px;
                                height: 20px;
                                margin-right: 8px;
                              "
                            ></span>
                            <span
                              class="star full"
                              style="
                                width: 20px;
                                height: 20px;
                                margin-right: 8px;
                              "
                            ></span>
                            <span
                              class="star full"
                              style="
                                width: 20px;
                                height: 20px;
                                margin-right: 8px;
                              "
                            ></span>
                            <span
                              class="star full"
                              style="
                                width: 20px;
                                height: 20px;
                                margin-right: 8px;
                              "
                            ></span>
                            <span
                              class="star half"
                              style="
                                width: 20px;
                                height: 20px;
                                margin-right: 8px;
                              "
                            ></span>
                          </div>
                        </div>
                      </dd>
                    </dl>
                  </div>
                  <div id="mypageReviewListScroll">
                    <div
                      id="mypageReviewListScroll_0"
                      data-dummy="224.1999969482422"
                    >
                      <div style="border-bottom: 1px solid rgb(232, 232, 232)">
                        <article
                          class="__my-review-post"
                          style="border-top: none"
                        >
                          <div class="__header">
                            <div calss>
                              <div class="__restaurant-info">
                                <img
                                  src="https://image.toast.com/aaaaaqx/catchtable/shopinfo/s20174/20174_2143012474882250_thumbMenuImage.jpg?small220"
                                  alt=""
                                  class="__img"
                                />
                                <div class="__info">
                                  <h4 class="__name">스시소요</h4>
                                  <div class="__meta">스시오마카세 • 부천</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="__body" style="padding: 0px 16px">
                            <div class="timeline-post-content">
                              <div class="__post-meta">
                                <div
                                  class="__review-meta __review-meta--with-rating"
                                  style="width: 100%"
                                >
                                  <div
                                    class="__d-flex __v-center"
                                    style="justify-content: space-between"
                                  >
                                    <a href="#" class="__rating __active">
                                      4.7
                                      <i class="__arrow">
                                        <svg
                                          width="16"
                                          height="16"
                                          viewBox="0 0 16 16"
                                          fill="none"
                                          xmlns="http://www.w3.org/2000/svg"
                                        >
                                          <path
                                            d="M4.94 5.72667L8 8.78L11.06 5.72667L12 6.66667L8 10.6667L4 6.66667L4.94 5.72667Z"
                                            fill="black"
                                          ></path>
                                        </svg>
                                      </i>
                                    </a>
                                    <span class="__date">12월 12일</span>
                                  </div>
                                  <div class="__rating-detail __d-flex">
                                    <div class="__item">
                                      맛
                                      <span>4.5</span>
                                    </div>
                                    <div class="__item">
                                      분위기
                                      <span>4.5</span>
                                    </div>
                                    <div class="__item">
                                      서비스
                                      <span>5.0</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <h3 class="__title"></h3>
                              <div class="__content __open">
                                <div id="__content0_1249477" class="no-picture">
                                  안녕하세요
                                </div>
                              </div>
                              <a class="__toggle">전체보기</a>
                            </div>
                            <div
                              class="__d-flex __v-center"
                              style="justify-content: space-between"
                            >
                              <div class="__post-meta mb-15 mt-15">
                                <span class="__like">0</span>
                                <span class="__comment">0</span>
                              </div>
                              <div class="__review-meta">
                                <a class="__more">MORE</a>
                              </div>
                            </div>
                          </div>
                        </article>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <hr class="space-20" />
        </main>
      </div>
      <aside id="dock">
        <div class="dock-container">
          <nav class="dock-menu">
            <a href="#" class>
              <i class="home">홈</i>
            </a>
            <a href="#" class>
              <i class="search">검색</i>
            </a>
            <a href="#" id="__guide_icon1">
              <i href="#" class="review">리뷰</i>
            </a>
            <a href="#" class>
              <i class="mydining">마이다이닝</i>
              <span class="alarm" style="visibility: hidden"
                >작성가능한 리뷰 0 건</span
              >
            </a>
            <a href="#" class="active">
              <i class="account"></i>
              <span>내 계정</span>
            </a>
          </nav>
        </div>
      </aside>
    </div>
  </body>
</html>
