<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/notice_list.css" />
  </head>
  <body class="disable-user-select">
    <div>
      <span itemscope itemtype="http://schema.org/Organization"></span>
    </div>
    <div style="display: none">
      <a href="#">레스토랑 예약</a>
      <a href="#">티켓 할인</a>
      <a href="#">신규 오픈</a>
    </div>
    <div id="root">
      <div class="wrapper">
        <header id="header" class="opaque">
          <div class="container">
            <div class="header-left">
              <button class="btn-back">이전</button>
              <h1 class="page-title">공지사항</h1>
            </div>
          </div>
        </header>
        <main id="main">
          <div class="pt-10">
            <div class="board-list">
              <a href="#" class="board-list-item">
                <div class="txt">
                  <h4 class="title">[공지] 리뷰 작성 기한 안내</h4>
                  <span class="date">2022-12-01</span>
                </div>
              </a>
              <a href="#" class="board-list-item">
                <div class="txt">
                  <h4 class="title">[이벤트] 미우 래플 이벤트 당첨 안내</h4>
                  <span class="date">2022-11-24</span>
                </div>
              </a>
              <a href="#" class="board-list-item">
                <div class="txt">
                  <h4 class="title">[이벤트] 쓱-캐치더데이 당첨자 안내</h4>
                  <span class="date">2022-11-24</span>
                </div>
              </a>
              <a href="#" class="board-list-item">
                <div class="txt">
                  <h4 class="title">
                    [이벤트] 다 모여라 래플 이벤트 당첨자 안내
                  </h4>
                  <span class="date">2022-11-11</span>
                </div>
              </a>
              <a href="#" class="board-list-item">
                <div class="txt">
                  <h4 class="title">[캐치테이블] 이벤트 조기종료 안내</h4>
                  <span class="date">2022-11-01</span>
                </div>
              </a>
              <a href="#" class="board-list-item">
                <div class="txt">
                  <h4 class="title">
                    [공지] 캐치테이블 개인정보처리방침 개정 사전안내
                  </h4>
                  <span class="date">2022-10-20</span>
                </div>
              </a>
              <a href="#" class="board-list-item">
                <div class="txt">
                  <h4 class="title">[당첨자 공지] 캐치테이블 2주년 이벤트</h4>
                  <span class="date">2022-09-15</span>
                </div>
              </a>
              <a href="#" class="board-list-item">
                <div class="txt">
                  <h4 class="title">
                    [이벤트] 캐치테이블 모임 식사비 지원 이벤트 당첨자 안내
                  </h4>
                  <span class="date">2022-09-16</span>
                </div>
              </a>
              <a href="#" class="board-list-item">
                <div class="txt">
                  <h4 class="title">[공지] 9/6 APP 업데이트</h4>
                  <span class="date">2022-09-06</span>
                </div>
              </a>
              <a href="#" class="board-list-item">
                <div class="txt">
                  <h4 class="title">
                    [공지] 캐치테이블 개인정보처리방침 개정 사전안내
                  </h4>
                  <span class="date">2022-08-04</span>
                </div>
              </a>
              <a href="#" class="board-list-item">
                <div class="txt">
                  <h4 class="title">
                    [공지] 캐치테이블 개인정보처리방침 개정 사전안내
                  </h4>
                  <span class="date">2022-05-26</span>
                </div>
              </a>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
