<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/notice_ex.css" />
  </head>
  <body class="disable-user-select">
    <div>
      <span itemscope itemtype="http://schema.org/Organization"></span>
    </div>
    <div style="display: none">
      <a href="#">레스토랑 예약</a>
      <a href="#">티켓 할인</a>
      <a href="#">신규 오픈</a>
    </div>
    <div id="root">
      <div class="wrapper">
        <header id="header" class="opaque">
          <div class="container">
            <div class="header-left">
              <button class="btn-close">닫기</button>
            </div>
          </div>
        </header>
        <main id="main">
          <div class="pt-10">
            <div class="container gutter-sm">
                <div class="board-detail">
                    <div class="board-detail-header">
                        <h2 class="title">[캐치테이블] 이벤트 조기 종료 안내</h2>
                        <span class="date">2022-11-01</span>
                    </div>
                    <div class="board-detail-body">
                        <p>
                            <div class="display-linebreak">
                                "안녕하세요. 캐치테이블입니다. 
                                안타까운 사고로 많은 분들께서 느끼고 계실슬픔에 위로의 말씀을 드립니다. 
                                국가 애도 기간이 선포됨에 따라 '다모여라'이벤트가 조기 종료될 예정임을 알려드립니다. 
                                참여자분들의 많은 양해 부탁드립니다. 
                                
                                이벤트 조기 종료에 따라, 1차 래플 이벤트 당첨자 및 2차 래플 이벤트 알림 신청자 
                                분들에게는 별도 공지를 통해 추가 안내드리도록 하겠습니다. 
                                
                                
                                피해자와 유족께 위로의 말씀을 전하며 깊은 애도를 표합니다. 또한 부상자들의 빠
                                른 쾌유와 일상 복귀를 기언하며 더 이상 인명피해가 없길 기도하겠습니다. 
                                
                                캐치테이블 드림"
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
          </div>
          <div class="sticky-bottom-btns">
            <button class="btn btn-lg btn-red">닫기</button>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
