<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reviewprofilestyle.css">
</head>
<body>
    <div id="root">
        <div class="wrapper" id="profileReviewListScroll">
            <header id="header" class="opaque">
                <div class="container">
                    <div class="header-left"><button class="btn-back">이전</button>
                        <h1 class="page-title">프로필</h1>
                    </div>
                    <div class="header-right"><a class="__more-profile">MORE</a></div>
                </div>
            </header>
            <main id="main">
                <section class="section section-overflow-hidden pt-24">
                    <div class="container gutter-sm">
                        <div class="mypage-profile">
                            <div class="profile-pic  ">
                                <div class="img"
                                    style="background-image: url(&quot;https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/noimg/profile_default_v2.png&quot;);">
                                </div>
                            </div>
                            <div class="mypage-profile-meta">
                                <h4 class="name username"><span class="txt" style="max-width: none;">준숑이</span></h4>
                                <div class="meta">
                                    <dl>
                                        <dt>팔로잉</dt>
                                        <dd>0</dd>
                                    </dl><span>|</span>
                                    <dl>
                                        <dt>팔로워</dt>
                                        <dd>0</dd>
                                    </dl>
                                </div>
                                <div class="social"></div>
                            </div>
                        </div>
                        <div class="mypage-profile--desc" style="display: block;">
                            <div class="__desc">
                                <p id="introduce_p" class="expand"></p>
                            </div>
                            <div class="mb-18"></div>
                            <button class="btn btn-md btn-orange btn-rounded full-width">
                                <span class="label">
                                    팔로우
                                </span>
                            </button>
                        </div>
                    </div>
                </section>
                <hr class="separator mt-28">
                <section class="section section-overflow-hidden">
                    <div class="profile-summary">
                        <dl class="__block">
                            <dt>평균 별점</dt>
                            <dd>
                                <div class="__avr-rate"><strong>5</strong>
                                    <div class="stars">
                                        <span class="star full" style="width: 20px; height: 20px; margin-right: 8px;"></span>
                                        <span class="star full" style="width: 20px; height: 20px; margin-right: 8px;"></span>
                                        <span class="star full" style="width: 20px; height: 20px; margin-right: 8px;"></span>
                                        <span class="star full" style="width: 20px; height: 20px; margin-right: 8px;"></span>
                                        <span class="star full" style="width: 20px; height: 20px; margin-right: 8px;"></span>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                        <dl class="__block">
                            <dt>음식 취향</dt>
                            <dd>
                                <div class="color-gray">아직 취향을 선택하지 않았어요</div>
                            </dd>
                        </dl>
                    </div>
                </section>
                <hr class="separator">
                <section class="section container gutter-sm">
                    <div class="section-header mt-24" style="justify-content: space-between;">
                        <h3 class="section-title font-16">컬렉션 <span class="count">0</span>
                        </h3>
                    </div>
                    <div class="collection-slides-sm">
                        <div class="nodata font-16 mb-36">공개된 컬렉션이 없습니다.</div>
                    </div>
                </section>
                <hr class="separator">
                <div id="review">
                    <section class="section section-overflow-hidden">
                        <div class="container gutter-sm">
                            <div class="section-header pt-20 pb-20 mb-0">
                                <h4 class="font-16">
                                    <strong class="ebold">준숑이</strong> 님의 리뷰
                                    <span style="font-size: 16px; color: rgb(153, 153, 153); margin-left: 4px;">1개</span>
                                </h4>
                            </div>
                            <hr class="hairline full-width">
                            <div class="__my-review-list ml--20 mr--20">
                                <div id="profileList">
                                    <div id="profileList_0" data-dummy="743">
                                        <div>
                                            <article class="__my-review-post" style="border-top: none;">
                                                <div class="__header">
                                                    <div class="">
                                                        <div class="__restaurant-info"><img
                                                                src="https://image.toast.com/aaaaaqx/catchtable/shopinfo/s16403/16403_2042121540268143_thumbMenuImage.jpg?small220"
                                                                alt="" class="__img">
                                                            <div class="__info">
                                                                <h4 class="__name">올라 여의도 파크센터점</h4>
                                                                <div class="__meta">이탈리아음식 • 여의도</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="__body" style="padding: 0px 16px;">
                                                    <div class="timeline-post-content">
                                                        <div class="__post-meta">
                                                            <div class="__review-meta __review-meta--with-rating" style="width: 100%;">
                                                                <div class="__d-flex __v-center"
                                                                    style="justify-content: space-between;"><a href="#"
                                                                        class="__rating __active">4.3<i class="__arrow"><svg width="16"
                                                                                height="16" viewBox="0 0 16 16" fill="none"
                                                                                xmlns="http://www.w3.org/2000/svg">
                                                                                <path
                                                                                    d="M4.94 5.72667L8 8.78L11.06 5.72667L12 6.66667L8 10.6667L4 6.66667L4.94 5.72667Z"
                                                                                    fill="black"></path>
                                                                            </svg></i></a><span class="__date">12월 12일</span></div>
                                                                <div class="__rating-detail __d-flex">
                                                                    <div class="__item">맛 <span>4.0</span></div>
                                                                    <div class="__item">분위기 <span>4.5</span></div>
                                                                    <div class="__item">서비스 <span>4.5</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <h3 class="__title"></h3>
                                                        <div class="__content __open">
                                                            <div id="__content0_1252042" class="no-picture">원하는 요청대로 자리를 잡아주셔서 좋은 분위기에서
                                                                식사를 할 수 있었습니다. 다만 디너A를 먹었는데 파스타가 조금 불은 채로 나와서 아쉬웠습니다. 또한 처음에 빵이 나왔는데 썰어서
                                                                주셨으면 좋겠습니다. 그 외에는 아주 좋았습니다. </div>
                                                        </div><a class="__toggle">전체보기</a>
                                                    </div>
                                                    <div class="__d-flex __v-center" style="justify-content: space-between;">
                                                        <div class="__post-meta mb-15 mt-15"><span class="__like">0</span><span
                                                                class="__comment">0</span></div>
                                                        <div class="__review-meta"><a class="__more">MORE</a></div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
        </div>
    </div>
</body>
</html>