<!-- 사진 탭 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사진 탭</title>
    <link rel="stylesheet" href="css/st_picture.css">
</head>

<body>
    <div class="wrapper" id="wrapperDiv">
        <div class="wrapper">
        <header id="header" class="opaque">
            <div class="container">
                <div class="header-left"><a href="#" class="btn-back">뒤로</a>
                    <h1 class="page-title" style="padding-right: 4px;">텍사스 데 브라질 센트럴시티점</h1>
                </div>
            </div>
        </header>
        <main id="main">
            <div class="tab-menu sticky">
                <ul>
                    <li class=""><a><span>홈</span></a></li>
                    <li class=""><a><span>메뉴</span></a></li>
                    <li class="active"><a style="display: flex; align-items: center;"><span>사진</span><span
                                style="font-size: 10px; color: rgb(170, 170, 170); padding-left: 3px; padding-top: 1px;">123</span></a>
                    </li>
                    <li class=""><a style="display: flex; align-items: center;"><span>리뷰</span><span
                                style="font-size: 10px; color: rgb(170, 170, 170); padding-left: 3px; padding-top: 1px;">183</span></a>
                    </li>
                </ul>
            </div>
            <section class="section">
                <div class="gallery-tbs">
                    <div style="padding-bottom: 30px;">
                        <div class="shopReviewPhotoListScroll">
                            <div id="shopReviewPhotoListScroll_0" data-dummy="161">
                                <div class="gallery-tb-list">
                                    <div class="gallery-tb-item"><a><img
                                                src="https://image.toast.com/aaaaaqx/rv/sO6fBQwSGiEyU7i_JwMLzdg/221220160119246(0).jpeg?small220"
                                                alt=""
                                                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"><img
                                                src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/123x123.png"
                                                alt="" class="guide-img"></a></div>
                                    <div class="gallery-tb-item"><a><img
                                                src="https://image.toast.com/aaaaaqx/rv/sO6fBQwSGiEyU7i_JwMLzdg/221220143443949_rv.jpg?small220"
                                                alt=""
                                                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"><img
                                                src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/123x123.png"
                                                alt="" class="guide-img"></a></div>
                                    <div class="gallery-tb-item"><a><img
                                                src="https://image.toast.com/aaaaaqx/rv/sO6fBQwSGiEyU7i_JwMLzdg/221219232835588(0).jpeg?small220"
                                                alt=""
                                                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"><img
                                                src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/123x123.png"
                                                alt="" class="guide-img"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="space-40">
        </main>
    </div>
    </div>
</body>

</html>