<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/notice_use_1.css" />
  </head>
  <body class="disable-user-select">
    <div>
      <span itemscope itemtype="http://schema.org/Organization"></span>
    </div>
    <div style="display: none">
      <a href="#">레스토랑 예약</a>
      <a href="#">티켓 할인</a>
      <a href="#">신규 오픈</a>
    </div>
    <div id="root">
      <div class="wrapper">
        <header id="header" class="opaque">
          <div class="container">
            <div class="header-left">
              <button class="btn-back">이전</button>
              <h1 class="page-title">약관 및 정책</h1>
            </div>
          </div>
        </header>
        <main id="main">
          <div class="pt-10">
            <div class="board-list">
              <a href="#" class="board-list-item">
                <div class="txt">
                  <h4 class="title">이용약관</h4>
                </div>
              </a>
              <a href="#" class="board-list-item">
                <div class="txt">
                  <h4 class="title">개인정보 처리방침</h4>
                </div>
              </a>
              <a href="#" class="board-list-item">
                <div class="txt">
                  <h4 class="title">위치정보 이용약관</h4>
                </div>
              </a>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
